[2016-05-10 10:42] xtrasmal opened #1 "Mollie Recurring"
Hello there!

is Recurring supported as well?

Super service btw!

[2016-05-10 11:02] FaaPz commented on #1
Thanks! And yes, we just updated our Laravel module:
https://github.com/mollie/laravel-mollie/releases/tag/1.1.0 (69d4b4726daaf15d7b256f65c73ea2ceb858f004)

[2016-05-10 11:02] #1 closed

[2016-05-11 07:07] nickyadvokaat opened #2 "FatalErrorException in MollieServiceProvider.php"
Hi,

I'm getting the following error when making a call to Mollie:
[code]
I have followed the instructions and have:
- Required and installed `laravel/socialite` and `mollie`
- Added providers and aliases to `config/app.php`
- Created ` config/mollie.php` and added to `config/services.php`
- Added keys to `.env` file
- `use Mollie;` in my class
- I also did a `php artisan optimise` and `composer d

[2016-05-11 08:27] FaaPz commented on #2
Thank you for reporting this bug. We've just released a patch:
https://github.com/mollie/laravel-mollie/releases/tag/1.1.1 (a9b52868af55eb638c2d2dc92ecd362bcbac694d)

[2016-05-11 08:27] #2 closed

[2016-05-11 09:21] GencBlakqori opened #3 "Can't invoke webhook and getting empty array as response in "responseUrl"."
Hi,

I don't know if this is really an laravel issue, but I can't make it work.
1) I constantly getting this on the mollie website when I wan't to insert a webhook link:
 _**"Mollie can not invoke the test webhook."**_
Now I have a _Post_ route that invokes a method in my controller, that basically has nothing on it, no checks no nothing. Even if I only do a 200 response, I still get that message

[2016-05-11 15:53] FaaPz commented on #3
Hi @GencBlakqori, could it be that the webhook link is a URL for your development/test environment that's not connected/reachable by a domain name via the internet? Because that would be the reason why you're getting the *"Mollie can not invoke the test webhook."* message.

The `redirectUrl`-parameter is not the same als the `webhookUrl`. After the payment is completed or canceled, the URL given i

[2016-05-11 20:59] GencBlakqori commented on #3
@FaaPz  Thanks for your response. No, the domain for the webhook is actually reachable, its in on an online server. It just keeps me telling that, I have no idea why, already read the links before I asked you the questions but still can't get it to work. Is there anything special that I have to do with that webhook to make it work ?

[2016-05-12 15:14] FaaPz commented on #3
@GencBlakqori I'll look into it! Could you send me (fabian@mollie.com) your partner ID and the failing webhook URL?

[2016-05-17 08:44] GencBlakqori commented on #3
The issue has been solved, it was due to the csrf token of laravel. I had to remove that from the webhook root in order to make it work.
@FaaPz  Thank you very much for your support.

[2016-05-17 09:31] RicardoJ commented on #3
Thank you for the update. Do you have a example code we can include in the [README.md](https://github.com/mollie/laravel-mollie/blob/master/README.md) for other possible people who have this problem in the future?

[2016-05-17 17:42] GencBlakqori commented on #3
Yep so basically, if you have a route like this :
`
Route::post('webhook-link', function($paymentId){
      // whatever check comes here
});
`

,you have to also disable CSRF check for this link in VerifyCsrfToken.php  in the middleware folder. You have to put a variable like this :

`
protected $except = [
        'webhook-link'
 ];
`

( NOTE: This works for Laravel 5.2. I haven't tried it in old

[2016-05-18 06:08] RicardoJ commented on #3
Thanks for the solution. I'll add it to the readme.

[2016-05-18 06:08] #3 closed

[2016-05-18 12:38] it-can opened #4 "Is laravel/socialite really needed?"
I only use this package to do payments, is laravel/socialite really needed with this package? Maybe make it optional?

[2016-05-18 14:37] FaaPz commented on #4
Thank you for *extra* mentioning this to us. And we agree, so we've just released a patch:
https://github.com/mollie/laravel-mollie/releases/tag/1.1.2 (8800edc47562c956cf61835fa17c769597ca0893)

[2016-05-18 14:37] #4 closed

[2016-05-24 18:26] renege opened #5 "Driver [mollie] not supported."
[code]

I have this in config/services:

[code]

And correct info in my .env file

The default AuthController has:
[code]

But get the error when going to /mollie/login
[code]

[2016-05-24 22:04] RickWong commented on #5
Hi @renege thanks for your report. We will look into the issue as soon as possible.

[2016-05-25 08:49] FaaPz commented on #5
Thank you for reporting this bug. We've just released a patch:
https://github.com/mollie/laravel-mollie/releases/tag/1.1.3 (a510020ab957c2c19ab03a03ce39d0a580faa913)

[2016-05-25 08:49] #5 closed

[2016-05-25 08:57] renege opened #6 ""The redirect URI provided is missing or does not match""
Hello,

I got this: "The redirect URI provided is missing or does not match" on my local environment.

In my .env I have:
```MOLLIE_REDIRECT_URI=http://project123.local/mollie/callback ```

In the settings I have https://livedomain.com/mollie/callback, but I'm testing it all on my local machine that has an invalid TLD of course and can't have httpS what's needed?

[2016-05-25 10:09] FaaPz commented on #6
Hi @renege, I suggest you temporarily change the *Redirect URL* in your settings to match the (development) `MOLLIE_REDIRECT_URI` in you `.env` file, so you can at least continue to develop and test.

And yes, we require HTTPS for *Redirect URLs*. If that's not possible on your local environment, then you unfortunately have to click through the browser's SSL warning.

[2016-05-25 12:31] renege commented on #6
Yea, but on my local machine Homestead I can't get https to work obviously.

[2016-05-26 08:12] FaaPz commented on #6
We only require the *Redirect URL* to contain `https://...` to enforce the secure connection for sending the auth code and such, even though the certificate is not signed, like on development/test environments.

Also, this might help set up SSL on Homestead: https://gist.github.com/cluppi/6792ca8b802d26919045

[2016-06-03 10:02] ptondereau opened #9 "Tests fails with Socialite [DOING]"
I put an issue here because I'm still investigating on it.

This isn't a BC but this issue should be open to public.

[Travis Report here](https://travis-ci.org/mollie/laravel-mollie/jobs/134968880)

[2016-06-08 21:09] PMBergman opened #12 "Difference between MOLLIE_KEY and MOLLIE_SECRET"
Hi,

I just added the mollie larval wrapper to my project. The config file states the following:
// Place the following in the 'config/services.php'
    // 'mollie' => [
    //     'client_id'     => env('MOLLIE_KEY'),
    //     'client_secret' => env('MOLLIE_SECRET'),
    //     'redirect'      => env('MOLLIE_REDIRECT_URI'),
    // ],

What is the difference and which values do I need to use?

[2016-06-09 11:12] FaaPz commented on #12
Hi @PMBergman, we've updated the config file (81415e598e30947cbc2e010dda9f3814b87c553a) to be more understandable. You only have to copy/paste this code snippet in `config/services.php` if you're going to use [Mollie Connect](https://www.mollie.com/en/docs/oauth/overview).

The `MOLLIE_KEY` is now called `MOLLIE_CLIENT_ID` and should contain your unique give application ID located in [Mollie Dashb

[2016-06-09 11:12] #12 closed

[2016-06-09 12:21] RicardoJ commented on #9
Thank you for your issue @ptondereau. I hope you can find the problem behind the test. I tried it locally but that also failed. Maybe we can mock these classes to succeed the tests?

[2016-06-09 13:52] ptondereau commented on #9
Don't worry, I ve found a way. I'm on it.

[2016-06-09 15:56] ptondereau commented on #9
@RicardoJ see #13

[2016-06-10 08:03] RicardoJ commented on #9
Thank you. @FaaPz will review your pull request and merge this when approved.

[2016-06-10 08:03] #9 closed

[2016-06-16 14:55] kayyyy opened #14 "customers_payments method does not exist"
It seems that the Method `customers_payments` does not exist, so i cant fetch all Customer Payments from the [API Endpoint List customers](https://www.mollie.com/en/docs/reference/customers/list-payments)

**Error**
`Call to undefined method Mollie\Laravel\Wrappers\MollieApiWrapper::customers_payments()`

[2016-06-16 15:02] kayyyy commented on #14
Okay i got it. The Method is called `customersPayments` 👍

[2016-06-16 15:02] #14 closed

[2016-06-22 20:25] RhenusoneRosalia commented on #5
Still not working on a fresh install of laravel

[2016-06-23 16:48] kayyyy opened #15 "Customer Update Method"
There is no Method to update an existing Customer.
Could you please implement this into the package?

[2016-06-27 15:11] FaaPz commented on #6
Closed due inactivity.

[2016-06-27 15:11] #6 closed

[2016-07-21 11:25] cedricve commented on #5
having the same issue

[2016-07-21 21:17] FaaPz commented on #5
@RhenusoneRosalia @cedricve Thank you for mentioning! We're working on a solution to update our package without breaking BC. In the meantime you should use the following code snippet and paste it in the `boot()` method from your `AppServiceProvider.php`.

[code]

(the `README.md` file has been updated with this information as well 😉 )

[2016-08-09 07:45] juukie opened #19 "Adding getClient() method"
I guess it would be handy to add this method to get the client in case someone might want to interact with it directly:

[code]

Let me hear your thoughts!

[2016-08-09 19:19] mario opened #20 "Integrate in cashier?"
Any thoughts on integrating this directly in Cashier?

[2016-08-10 08:41] FaaPz commented on #19
@juukie Our Laravel package is merely a wrapper for our [Mollie API client for PHP](https://github.com/mollie/mollie-api-php). All relevant methods are already inherited.

What do you think, @robin-mollie?

[2016-08-10 09:15] FaaPz commented on #20
Hi @mario, unfortunately not. Laravel Cashier is very interesting though, so we might look into it in the near future.

[2016-08-11 15:16] robin-mollie commented on #19
@juukie Building on what @FaaPz said, all relevant client endpoints are available through the methods on the wrapper, and this is our preferred way of accessing those. :)

[2016-08-11 15:16] #19 closed

[2016-08-11 17:27] juukie commented on #19
Ok thanks for reply.

[2016-09-13 20:26] RobertArissen opened #21 "Customers update"
Hoi,

Ten eerste bedankt voor het maken van deze package werkt super!

Ik mis alleen een klein ding: Het update van een customer object.

Misschien een idee om het zo te maken:

$customer = Mollie::api()->customer()->get(ID);

$customer->name = 'New Name';
$customer->save();

Zou voor mij erg handig zijn!

[2016-09-14 08:57] Thijs-Riezebeek commented on #21
Beste Robert,

Dit komt doordat de laravel-mollie module gebouwd is op onze php-api-client en die ondersteunt op dit moment nog geen update voor een customer object.

Bedankt dat je ons alert gemaakt hebt op dit probleem. We gaan er snel verandering in brengen en verwachten binnen 1-2 dagen de php-api-client te hebben bijgewerkt.

Als de wijziging is doorgevoerd dan zal je `composer update` moeten

[2016-09-16 11:56] Thijs-Riezebeek commented on #21
Beste Robert,

De Mollie php-api-client module heeft zojuist versie 1.7.0 uitgebracht. In deze release zit het updaten van een customer object.

Als je composer update draait in je laravel project dan zou de nieuwe versie van de php-api-client gedownload moeten worden, waarna je op de manier die ik in mijn vorige reactie aangaf een customer object kan updaten.

Met vriendelijke groet,
Thijs Riezeb

[2016-09-16 11:56] #21 closed

[2016-11-06 15:33] ruudschuurmans commented on #20
This would be awesome!

[2016-11-10 04:46] gtapps opened #22 "Update access token from refresh token"
Hey guys,

I needed to update the access token from the access token so I created the following code on MollieConnectServiceProvider.php:

    public function getRefreshTokenResponse($code)
    {
        $response = $this->getHttpClient()->post($this->getTokenUrl(), [
            'headers' => ['Accept' => 'application/json'],
            'form_params' => $this->getRefreshTokenFields($code),

[2016-11-25 15:47] stefro commented on #20
+1 if this would be integrated.

[2017-01-20 16:31] sigfriedseldeslachts commented on #20
+1

[2017-01-20 21:34] stefanpkc commented on #20
+1

[2017-01-24 19:43] yooouuri opened #23 "Update to Laravel 5.4 fails"
## Expected Behavior
Composer should update Laravel to the newer version

## Current Behavior
When i preform a "composer update", the result is:

[code]

## Possible Solution
I see both laravel/framework and mollie/laravel-mollie use illuminate/support in their composer.json?

## Steps to Reproduce (for bugs)

1.  Make sure you have ```"mollie/laravel-mollie": "^1.3"``` included in composer.json
2

[2017-01-24 20:30] yooouuri commented on #23
https://github.com/laravel/framework/issues/17517

[2017-01-25 16:27] gtapps commented on #23
I'm getting the same issue. Would be great if it would allow us to update to 5.4

[2017-01-25 16:40] adriaanzon commented on #23
Until a new version gets tagged, you can use `dev-master` instead of `^1.3`

[2017-01-26 09:50] willemstuursma commented on #23
Thanks. We've tagged a new version 1.4.0.

[2017-01-26 09:50] #23 closed

[2017-01-26 13:08] danielgelling opened #25 "Composer tells me to remove laravel/framework"
## Expected Behavior
mollie/laravel-mollie should just install to the vendor directory.

## Current Behavior
When running `composer require mollie/laravel-mollie` composer says the following (shortened message):

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for mollie/laravel-mollie ^1.3 -> satisfiable by mollie/laravel-mollie[1

[2017-01-26 14:27] robin-mollie commented on #25
Thanks for notifying us!

We've fixed the release (currently on 1.4.1), running `composer require mollie/laravel-mollie` again should work.

[2017-01-26 14:27] #25 closed

[2017-02-04 12:39] kayyyy commented on #20
+1

[2017-02-22 14:59] rbenjamint commented on #20
+1

[2017-03-02 22:50] ItsDizzy commented on #20
I am working on a Laravel Cashier edition for Mollie, if anyone would like to help it would be very appreciated. Project is here: https://github.com/ItsDizzy/laravel-cashier-mollie

[2017-03-31 14:40] FaaPz commented on #22
We've just released **v1.5.0** (5ec1394fed5da31064f73421c0621be093b1eee6)! 😄

[2017-03-31 14:40] #22 closed

[2017-08-05 09:42] sweebee opened #28 "Create profile with methods"
I'm using Mollie Connect to create a profile. But is there an option to activate some pay methods as well?

[2017-11-23 17:48] Treggats commented on #20
@fpaapz is the future near enough for the integration?

[2017-12-28 07:10] ruteeb commented on #2
hello dear, how can use this patch? I found jsu folder

[2018-01-29 08:35] riksnelders opened #36 "Retreiving ID"
How would i retrieve the payment ID after redirect? Without using  a database to store it..

[2018-01-29 12:58] ndijkstra commented on #36
Hi! You can use our Webhook, to receive a call when the status of the payment has changed. We do a POST request to your webhookUrl, with "id" as POST-data. This id is the Payment ID. (see this [example](https://github.com/mollie/mollie-api-php/blob/master/examples/02-webhook-verification.php))
In the redirectUrl you can place your own unique number, like an order number to receive the status of th

[2018-01-29 12:58] #36 closed

[2018-01-29 16:24] willemstuursma commented on #28
Sorry for the long delay. We are going to move this issue to our roadmap.

[2018-01-31 09:06] HiralShah91 opened #37 "Mollie API webhook - getting empty response"
I'm not getting any POST data in webhook

I have also  excluded URI from the CSRF protection in the app/Http/Middleware/VerifyCsrfToken.php file:
But still getting null only.

[2018-02-21 15:42] nickurt opened #38 "The optional parameter 'dueDate'-not working correctly by creating a payment"
Hello,

I discovered a problem with the dueDate-parameter by creating a [payment](https://www.mollie.com/en/docs/reference/payments/create#parameters-banktransfer) ...

[code]

Based on this example (without specify the method-parameter, so optional parameters should be applied when the consumer selects the relevant payment method), the dueDate should be 2018-02-24 (payment was created on 2018-01-

[2018-02-21 17:48] willemstuursma commented on #38
Hi @nickurt. This is a bug on our end. Due to some constraints the `dueDate` is one of the few parameters that is not forwarded. If you want to use it, you must create a `banktransfer` payment directly.

It's on our roadmap to fix this, unfortunately I can't give you a date.

[2018-02-21 17:48] #38 closed

[2018-04-12 10:30] jimkaler commented on #37
what code are you trying to use? may i know?

[2018-04-12 10:32] jimkaler commented on #28
@willemstuursma  what is the payment parameter for SEPA Direct debit?
Like for iDeal its 'ideal'.

[2018-04-13 04:47] jimkaler commented on #37
@invalid-bot Thanks for helping me but i was willing to solve @HiralShah91 's problem. I have implemented Mollie successfully.

[2018-04-17 05:54] Olindn commented on #20
Any update on this matter?

[2018-04-29 10:24] Raynth opened #39 "Checkout doesn't show"
I've installed en configurated as shown in the README.md. I tested with this example:

$payment = Mollie::api()->payments()->create([
    "amount"      => 10.00,
    "description" => "My first API payment",
    "redirectUrl" => "https://webshop.example.org/order/12345/",
]);

$payment = Mollie::api()->payments()->get($payment->id);

if ($payment->isPaid())
{
    echo "Payment received.";
}

I don'

[2018-04-29 15:27] willemstuursma commented on #39
This package does not provide a "checkout", as it does not integrate with any ecommerce solutions. Instead, is it just a convenience wrapper for Laravel for the `mollie/mollie-api-php` package.

Have a look at our other package for drop in plugins for ecommerce software.

[2018-04-29 15:27] #39 closed

[2018-04-30 08:03] petericebear commented on #20
Would love to see an update on this as well.

[2018-04-30 08:32] willemstuursma commented on #20
We're looking for a freelancer who can integrate Mollie into Cashier for us. Please send any recommendations to willem@mollie.com.

[2018-05-09 17:55] DutchSkiddie opened #40 "Trouble properly implementing WebhookURL"
At the risk of looking like a total idiot, could anyone tell me where I messed up?

**Controller function that creates payment request (works just fine):**
    public function store(Request $request)
    {
        $this->validate($request, [
            'currentRank' => 'required',
            'requestRank' => 'required',
            'pts_select' => 'required',
            'userName' => 'required'

[2018-05-09 22:45] #40 closed

[2018-05-09 22:46] DutchSkiddie commented on #40
I am retarded, please ignore this post.... Already fixed it

[2018-05-17 14:04] dekker7 opened #41 "Update to api v2"
Will this library will be updated to the new 2.0 api version of Mollie and https://github.com/mollie/mollie-api-php?

Thanks

[2018-05-31 09:45] nickurt commented on #41
Same question here, can we expect api v2-support soon? cc @willemstuursma

[2018-05-31 13:58] willemstuursma commented on #41
Thanks guys. It's a bit tricky because we don't have a lot of Laravel experts in house. So it might take us a small while to get this working.

We're willing to hire a freelancer to perform this conversion, so if you are available or know anyone please contact me via email willem@mollie.com. We'd also really like Cashier support.

[2018-06-01 07:54] Cannonb4ll commented on #41
I could take care of this, send a e-mail to Willem already 👍

[2018-06-13 14:06] sandervanhooft commented on #41
I'm on it! Stay tuned.

[2018-06-13 14:23] sandervanhooft commented on #20
Right now this package is being upgraded to use the new Mollie-PHP client (v2) and its new features.

Once completed we'll look into the possibilities of using Mollie with Laravel Cashier.

Personally I am not convinced yet it is possible though ([my thoughts, June 2017](https://www.sandervanhooft.com/blog/laravel/when-laravel-cashier-will-not-help-you/)), as Cashier is rather tightly coupled with

[2018-06-19 15:43] Tjoosten opened #43 "Can't list customer payments."
Hi I have a little problem. I need to list al the payments from a specific user.
But my method goest wrong.

[code]

Error:

[code]

Can someone help me out?

[2018-06-20 10:30] sandervanhooft commented on #37
No recent activity here, so I'm going to assume this issue is resolved. Let me know if it should be reopened.

[2018-06-20 10:30] #37 closed

[2018-06-20 10:49] sandervanhooft commented on #43
Hi @Tjoosten ,

How about this?

[code]

[2018-06-20 11:02] sandervanhooft commented on #28
Hi @jimkaler ,

You're probably looking for `directdebit` ([docs](https://docs.mollie.com/reference/v1/payments-api/create-payment)). Also mind [this note](https://docs.mollie.com/reference/v1/payments-api/create-payment#sepa-direct-debit).

Please open a new issue if this does not answer your question, as it is slightly off-topic here.

[2018-06-21 19:58] robindirksen1 opened #45 "Create mandate for a customer"
`Error executing API call (system): Internal server error; we have been informed about this incident.` while creating a mandate with the follow code:

[code]

## Expected Behavior
Create a mandate like the curl command.
[code]

## Current Behavior
`Error executing API call (system): Internal server error; we have been informed about this incident.`

## Possible Solution
---

## Steps to Reproduce

[2018-06-21 22:23] sandervanhooft commented on #45
Hi Robin,

Check if the problem persists, there seem to have been some issues with the
Mollie services today (https://status.mollie.com).

If so, please contact Mollie support with this issue, as it doesn’t seem to
be caused by this package.

https://www.mollie.com/en/contact

On Thu, 21 Jun 2018 at 21:58, Robin Dirksen <notifications@github.com>
wrote:

--
www.sandervanhooft.com

[2018-06-22 06:29] willemstuursma commented on #45
Hi @robindirksen1. Willem from Mollie here. I think `mode` should be `method` perhaps?

Regardless, an HTTP 500 is a bit overkil so I'll have someone look into it.

[2018-06-22 06:59] robindirksen1 commented on #45
@willemstuursma aii, that fixed the problem! Thanks!

[code]

[2018-06-22 06:59] #45 closed

[2018-06-22 14:45] sandervanhooft commented on #41
@willemstuursma et al
Progress update: Laravel-mollie `v2.0.0-beta1` planned for next week.

Most functionality changes have now been implemented in my temporary [dev fork](https://github.com/sandervanhooft/laravel-mollie/commits/master). Will need to run some final checks and (re)write the readme file and package migration guide before release.

Some major dependency bumps were required. Php 7.1+

[2018-06-22 14:48] willemstuursma commented on #41
It would be great if you could keep the min. PHP version on 5.6, or the minimum version supported by Laravel, whichever is higher.

[2018-06-22 14:51] sandervanhooft commented on #41
@willemstuursma
I agree. I'll try to match Laravel 5.5 LTS [minimum requirement](https://github.com/laravel/laravel/blob/3a50f43c3be644f6168bf888af272425efb8f65c/composer.json#L8), PHP 7.0.0.

[2018-06-22 15:17] nickurt commented on #41
Yup, LGTM to follow Laravel 5.5 minimum requirements, looking forward to v2.0.0-beta1 next week 👍

[2018-06-23 11:52] robindirksen1 opened #46 "Recurring payment docs"
Why is it in the Laravel package a field `recurringType = recurring` required for making automatically payments and in the docs on the website `sequenceType = recurring`. Is the documentation not correct

See https://docs.mollie.com/guides/recurring#guides-recurring-charging-on-demand

[2018-06-23 12:01] sandervanhooft commented on #46
Hi Robin,

The docs are based on the new v2 Mollie API (sequenceType). The Laravel
package currently uses the v1 API (recurringType).

The Laravel package is being updated to use the v2 API, you can expect the
beta release next week.
On Sat, 23 Jun 2018 at 13:52, Robin Dirksen <notifications@github.com>
wrote:

--
www.sandervanhooft.com

[2018-06-23 12:02] sandervanhooft commented on #46
For more information, see the migration guide here:
https://docs.mollie.com/migrating-v1-to-v2
On Sat, 23 Jun 2018 at 14:00, Sander van Hooft <info@sandervanhooft.com>
wrote:

--
www.sandervanhooft.com

[2018-06-23 14:32] #46 closed

[2018-06-26 14:49] sandervanhooft commented on #41
@willemstuursma How do you recommend launching the beta?

With a `v2.0.0-beta1` tag on the master branch and a link to the migration guide in the release notes? Or should this happen on a separate branch?

[2018-06-26 14:50] sandervanhooft commented on #41
I'm preparing the PR [here]( https://github.com/sandervanhooft/laravel-mollie) btw.

[2018-06-27 09:05] willemstuursma commented on #41
I think it is fine to release 2.0.0 straight away, unless you feel uncomfortable with that. Then your approach is fine.

[2018-06-27 09:07] willemstuursma commented on #41
On the master is fine, there won't be many changes to v1 in the future. We can create a v1-develop branch when needed.

[2018-06-29 11:38] starlounge opened #48 "Webhook failed with status code 405 (Got HTTP/1.1 405 Method Not Allowed instead of 20x)"
Hi,
I'm using larval-mollie.
no problem to generate payment url and make payment with Mollie web form, but my web hook still return 405 error.

**Routes/web.php**
`Route::post('pay/status', ['as' => 'pay.status', 'uses' => 'PaymentController@statusPayment']);`

- the controller is not protected by auth middleware;
- pay/status is the web hook url;
- in Http/Middleware/VerifyCsrfToken I have insert

[2018-06-29 12:06] sandervanhooft commented on #48
Hi @starlounge ,

What’s in the application logs in storage/logs?

[2018-06-29 12:11] sandervanhooft commented on #41
PR is ready, but Travis is failing somehow. The fork however is all green (same contents, same travis script). I am communicating with Travis support over mail to resolve this issue.

[2018-06-29 12:13] starlounge commented on #48
Hi @sandervanhooft
nothing reported to log.
In my web hook function I have:
`public function statusPayment(Request $request)
	{

		if ($request->has('id')) {

			$payment_ID = $request->id;
			Log::info('[MC][mollie] Post: '.$payment_ID);

		}
		else {
			Log::info('[MC][mollie] Error: post is null');
		}
}
`

[2018-06-29 12:19] sandervanhooft commented on #48
The 405 error message suggests the problem occurs at routing level, so the controller is not even invoked.

A few things you could check:
- is the route in the ‘web’ group? (Not in api route group for example)
- is it using any other middleware which could cause this issue? (Move the route to the root of the routes/web.php file (Laravel 5.4 and above)).

[2018-06-29 12:20] sandervanhooft commented on #48
For debugging it may help to make the post calls using cURL or Postman.

[2018-06-29 12:23] starlounge commented on #48
yes,
the route is into web group (web.php)
I have tried to moving at root of web.php and error change to 403...

[2018-06-29 12:46] starlounge commented on #48
Another note: if I change route verb from post to any I get 403 error...

[2018-06-29 13:03] sandervanhooft commented on #48
Are you initializing / interacting with middleware in the PaymentController's _construct method?

[2018-06-29 13:09] sandervanhooft commented on #48
Also check if you have any folder in your `/public` directory which is named `pay` or `pay/status`.

[2018-06-29 13:37] starlounge commented on #48
no interaction with middleware in PaymentController
in /public directory only css and images as usual...

[2018-06-29 13:47] sandervanhooft commented on #48
You can reach / visit other routes?
It seems to be a routing problem imho.

[2018-06-29 13:48] starlounge commented on #48
Web app work well, no problem with other routes :-(

[2018-06-29 13:51] sandervanhooft commented on #48
What happens if you try this at the top of `routes/web.php`?

[code]

[2018-06-29 13:54] starlounge commented on #48
Nothing...

`Webhook failed with status code 405 (Got HTTP/1.1 405 Method Not Allowed instead of 20x)
June 29, 2018 at 3:53 PM`

[2018-06-29 13:57] sandervanhooft commented on #48
And with a dummy url?
Perhaps also run `php artisan cache:clear`

[2018-06-29 14:02] starlounge commented on #48
![screenshot](https://user-images.githubusercontent.com/40692056/42096484-bfc2cd12-7bb5-11e8-9631-347de447e040.png)

[2018-06-29 14:08] sandervanhooft commented on #48
I am not sure what's causing this. It's not caused by the Laravel-Mollie package.

My last attempt would be to disable all web middleware in the `App/Http/Kernel`, check if it works this way. If it does, re-enable one by one to find the culprit.

[2018-06-29 14:09] sandervanhooft commented on #48
Feel free to paste the `routes/web.php` here if you want me to look at it.

[2018-06-29 14:10] starlounge commented on #48
[code]

[2018-06-29 14:12] starlounge commented on #48
Tip:
`/pay/start` and `/pay/end` work very well

[2018-06-29 14:13] sandervanhooft commented on #48
Try removing the `/` at the end in the `webhookUrl` here:

[code]

[2018-06-29 14:15] sandervanhooft commented on #48
I think that should do the trick

[2018-06-29 14:16] sandervanhooft commented on #48
```"webhookUrl" => "https://mining.starlounge-switzerland.ch/pay/status/"```

Should be:

[code]

[2018-06-29 14:22] starlounge commented on #48
Yeah!!!!!
It works!
Many thanks man!

[2018-06-29 19:42] sandervanhooft commented on #41
Finally ironed out the Travis build issues! Will release `v2.0.0-beta1 ` Monday.

[2018-07-02 09:10] sandervanhooft commented on #43
I think this can be closed now. Let me know if this issue needs to be reopened.

[2018-07-02 09:10] #43 closed

[2018-07-02 09:17] sandervanhooft opened #49 "Restructure Readme / docs"
The current readme file includes instructions for setting up Mollie Connect with Laravel Socialite.

For most developers this will be irrelevant (I experienced confusion here): "Do I need this? What's it for?"

## Expected Behavior / Solution
Readme includes instructions only for common Mollie usage with Laravel. Point to instructions in separate doc (i.e. `docs/mollie_connect.md`) for using Socia

[2018-07-02 09:51] willemstuursma opened #51 "Build against nightly"
It would be great if you could also build against PHP 7.3 (`nightly`).

Optionally, you could allow this build to fail.

Sidenote: I'm not sure about `--prefer-source`, this will require composer to clone all the dependencies instead of just getting the zip files. Its more for developing on the dependencies.

[2018-07-02 09:59] willemstuursma commented on #48
@sandervanhooft can we cover this with more examples?

The way the webhook is constructed doesn't seem the right way to me.

[2018-07-02 12:10] sandervanhooft commented on #51
Thanks @willemstuursma
I'll look into `PHP 7.3 (nightly)` support.

About `--prefer-source`: I'm giving `--prefer-dist` a try right now.

[2018-07-02 12:26] sandervanhooft opened #52 "Add webhook example(s)"
As suggested in [#48](https://github.com/mollie/laravel-mollie/issues/48#issuecomment-401744080), a decent webhook example should be included in the documentation.

[2018-07-02 12:58] sandervanhooft commented on #41
Just released `v2.0.0-beta1`!

[2018-07-02 13:32] willemstuursma commented on #52
I guess Laravel has some way to create URLs from named routes, right? I'm more a Symfony guy myself.

[2018-07-02 13:44] sandervanhooft commented on #52
The webhook route in the docs is fine, but I'll include an example controller as well, which also retrieves the payment object.

I'm planning on a `v3` to include a controller in the source which dispatches an Event including the Payment object. The application specific logic can then be tied to a Listener. See the [roadmap](https://github.com/mollie/laravel-mollie/blob/63043888bde3a984673c476d075

[2018-07-02 15:42] sandervanhooft commented on #41
I have scheduled the stable release for next Monday - if all goes well. Fingers crossed!

[2018-07-02 15:58] sandervanhooft commented on #52
Thinking of it, an even better approach may be to introduce it as a non-breaking change to the current version (`v2`).
For example by including a publishable (default unpublished) route and webhook.

[2018-07-03 12:35] sandervanhooft commented on #52
Stubbing this here for now, will first need to restructure readme a bit.

[code]

[code]

[2018-07-03 12:44] sandervanhooft commented on #51
- `--prefer-dist` is performing slightly better on Travis.
- `nightly` builds take about 30 minutes. `--prefer-lowest` times out. Without that flag it succeeds, but just before timing out.
- Also tried running `hhvm`, times out unfortunately. Will drop `hhvm` for now.

[2018-07-03 12:50] sandervanhooft commented on #28
@willemstuursma Should we keep this open (here)?

[2018-07-03 13:21] sandervanhooft commented on #49
Also need to include the webhook example #52 .

[2018-07-03 15:33] sandervanhooft commented on #20
Just finished a quick scan of Laravel Cashier, for Stripe and Braintree. Here's what I found.

### In general / both projects
- Started and maintained by the Laravel core team
- Primary goal is subscription management (not one-off payments)
- Despite the 'Cashier' naming, the Stripe and Braintree are two completely separated packages. I.e. there's no `laravel/cashier-core` dependency.
- Cashier fo

[2018-07-03 19:22] nickurt commented on #41
I tested the `v2.0.0-beta1` tag with my Mollie Connect/oAuth app and following the upgrade notes/guide it seems working fine 👍

It only took some time to figure out the testmode options (changes) for payments
[code]

[2018-07-04 06:29] willemstuursma commented on #28
No.

[2018-07-04 06:29] #28 closed

[2018-07-04 06:33] willemstuursma commented on #51
`hhvm` support is generally dropped by many libraries, we can do without.

To me, `--prefer-lowest` is not really necessary.

Dropping the sudo requirement will move you to a faster container based infra at travis.

[2018-07-04 09:46] sandervanhooft commented on #41
Thanks @nickurt !

I'm a bit confused by your `$testmode` issue, not familiar with it. Can you elaborate a bit on it?

Is this a Laravel-Mollie specific feature that should be documented in the Laravel-Mollie upgrade guide? Or does it relate to the mollie-api-php client?

[2018-07-04 09:51] sandervanhooft commented on #51
I'll drop `hhvm` and `prefer-lowest` then.

The `sudo: required` was actually suggested by Travis support, because it would trigger the use of a higher RAM container (7.5GB instead of 4GB)...

[2018-07-04 10:01] nickurt commented on #41
This is a [specific Connect-only](https://docs.mollie.com/reference/v2/payments-api/create-payment#mollie-connect-oauth-parameters) option, in v1 of the api a boolean was allowed, but it seems by v2 it only accept a "true" or "false" as "string", it looks like the docs.mollie.com is not correct here tho, since it said "boolean" is allowed.

I think I can PR it in the [https://github.com/mollie/api

[2018-07-04 10:03] willemstuursma commented on #41
If it is passed as part of the query string, it must be the string "true" or "false".

[2018-07-04 10:03] willemstuursma commented on #51
It's probably that the `--prefer-lowest` calculation is very slow / memory intensive.

[2018-07-04 10:16] sandervanhooft commented on #51
Worked like a charm!

[2018-07-04 11:12] sandervanhooft commented on #51
Worked like a charm - [but only on my fork](https://travis-ci.org/sandervanhooft/laravel-mollie/builds/399948095). I hope Travis support will get back to me to deal with this discrepancy.

[2018-07-04 13:06] sandervanhooft commented on #49
Just restructured the README, moved some examples into separate docs. Easier to digest this way.

[2018-07-04 13:06] #49 closed

[2018-07-04 13:07] sandervanhooft commented on #52
Example webhook was documented in PR #53.

[2018-07-04 13:09] sandervanhooft commented on #41
Thanks for clearing that up. As I understand it, there's no need to reference this `testMode` change in the Laravel Mollie docs / source.

[2018-07-04 13:35] nickurt commented on #41
Correct, I just mentioned b/c I was little bit stuck with it :+1:

[2018-07-07 06:32] willemstuursma commented on #52
@sandervanhooft a small request: all examples (also the initial payment) should have a `webhookUrl` set. Is there no way in Laravel to generate URLs from a named route?

[2018-07-07 08:04] willemstuursma commented on #51
Figured it out. The `minimum-stability: dev` in `composer.json` was causing Composer to look at too many versions.

[2018-07-07 08:04] #51 closed

[2018-07-07 14:52] sandervanhooft commented on #52
@willemstuursma Nice addition. Yes, I could include a named route in the payment examples. This would imho also require a reference to the webhook route definition for clarity, so it may clutter things a bit. I'll look into it next Monday.

[2018-07-09 11:03] #52 closed

[2018-07-09 11:04] sandervanhooft commented on #52
Done!

[2018-07-09 11:10] sandervanhooft commented on #41
Just released v2.0.0 stable! 🎉

Thanks everyone for your input.

[2018-07-09 11:10] #41 closed

[2018-07-10 10:34] sandervanhooft commented on #20
Perhaps we can leverage the [Laravel-promocodes](https://github.com/zgabievi/laravel-promocodes) package for the discount code features.

[2018-07-17 13:15] cannect commented on #39
There is actually a function to get the Checkout Url after you create the payment: `$payment->getCheckoutUrl()`

[2018-07-19 19:54] JerryKrakel opened #55 "Not getting into the webhook?"
Hi,

I'm struggling a bit.. for some reason its not getting into the webhook.

Web route:
`Route::post('pay/status', 'DonateController@handle');`

Controller code for store:
[code]

Handle:
[code]

VerifyCsrfToken:
[code]

Its perfecty redirecting, but not getting into the handle part.
Nothing in the log files aswell. It just redirect to the giving redirection url.

Any help would be awesome, than

[2018-07-19 20:22] sandervanhooft commented on #55
Hi @JerryKrakel ,

Have you checked the payment information, specifically the `webhookUrl`, in the Mollie dashboard? Is it pointing to a url that can be reached by Mollie? (I.e. not `localhost` or another local dev domain)

[2018-07-19 20:37] sandervanhooft commented on #55
Hi @JerryKrakel ,

The webhook can only be called if its url is publicly available.

If you're running a test server locally which is not reachable by Mollie, Mollie is unable to make a call to your webhook.

I've just googled a bit for a solution as it's a common problem; perhaps you could use a service like [this one](https://webhook.site) which generates a online available webhook url for manua

[2018-07-19 20:42] JerryKrakel commented on #55
The webhook url in the code is reachable by mollie, its on a preview server wich is online and not local..

just weird that im not getting any error at all..

[2018-07-19 20:45] JerryKrakel commented on #55
With the url..

[code]

[2018-07-19 20:49] sandervanhooft commented on #55
Ok, that's great. Have you tried making a POST request to your webhook URL yourself with a parameter `id`, being the payment id you just created?

This way we can check if there's something wrong with the webhook itself.

[2018-07-19 20:51] sandervanhooft commented on #55
Dumping the `$request` data may be helpful:

[code]

[2018-07-19 20:53] JerryKrakel commented on #55
with the data dump it just goes straight the redirecturl.

let me see with a post request to the webhook url.

[2018-07-19 21:04] JerryKrakel commented on #55
Symfony \ Component \ HttpKernel \ Exception \ MethodNotAllowedHttpException
No message

Seems thats not working..

[2018-07-19 21:09] sandervanhooft commented on #55
Ok. That's about not making/processing the right request (`GET` / `POST`).

`Route::post(...)` seems fine for handling a `POST` request, so are you sure you're making a `POST` request?

With `curl` in terminal (Linux/OSX) it would look like:
[code]

[2018-07-19 21:15] sandervanhooft opened #56 "Include example to redirect user to checkout screen"
## Expected Behavior

A simple example in the docs describing how to redirect a user to Mollie's checkout screen. Only for default and first/mandate payments.

## Current Behavior

Current payment examples do not include this.

[2018-07-19 21:17] sandervanhooft commented on #55
(I'm not going to make requests to your domain because it probably would mess up your debugging :) )

[2018-07-19 21:18] JerryKrakel commented on #55
`"<span class=sf-dump-key>id</span>" => "<span class=sf-dump-str title="7 characters">id_here</span>"`

That whats in the bottom when i did what you suggested.. With Arc(google Chrome) i get a 200 so that should be ok.

[2018-07-19 21:21] sandervanhooft commented on #55
Seems ok to me. Now update the `handle` method to something like this and try calling the webhook again with a real test payment id this time:

[code]

[2018-07-19 21:31] sandervanhooft commented on #55
Have you completed Mollie's checkout form at the checkout url (to change the payment status)?

[2018-07-19 21:32] sandervanhooft commented on #55
The payment is processed asynchrously so it may take a few seconds (test payments shouldn't take longer than a minute in my experience)

[2018-07-19 21:33] JerryKrakel commented on #55
Yep, ideal and checked the paid function.

`Jerry | van Berkel | jerry@krakel-webservices.com | 20.00 | tr_TaAKmxdF2D | Pending | 2018-07-19 21:25:13 | 2018-07-19 21:25:1`

[2018-07-19 21:41] sandervanhooft commented on #55
[code]

[2018-07-19 21:48] JerryKrakel commented on #55
Still the same, what should the dd() do here? Nothing in the log files, and the database records ain't changing.. ;x

[2018-07-19 21:50] sandervanhooft commented on #55
If you're calling the webhook url with curl or postman, you should get a readable dump output. You can use `Log::error` or `Log::debug` (with debugging enabled in `.env) instead so it's visible in your log.

[2018-07-19 21:55] sandervanhooft commented on #55
[Logging docs](https://laravel.com/docs/5.6/logging#writing-log-messages)

[Laravel dd helper method docs](https://laravel.com/docs/5.6/helpers#method-dd)

[2018-07-19 21:56] JerryKrakel commented on #55
yea it's enabled.. with postman i get this...

[code]

[2018-07-19 21:57] JerryKrakel commented on #55
So it's paid, just the check is somehow not working...

[2018-07-19 21:59] sandervanhooft commented on #55
So if you disable all `dd` calls and call the webhook again with the `tr_PVR8HhEQvV` id?
[code]
(or Postman equivalent)

[2018-07-19 22:03] JerryKrakel commented on #55
`Method Illuminate\Database\Query\Builder::save does not exist.` Thats the error im getting...

[2018-07-19 22:05] sandervanhooft commented on #55
Ah!

`$donate = Donate::where('payment_id', $donateid)->firstOrFail();`

[2018-07-19 22:07] sandervanhooft commented on #55
[code]

[2018-07-19 22:07] sandervanhooft commented on #55
That should do it :)

[2018-07-19 22:10] JerryKrakel commented on #55
Yes, that was the trick. awesome help! Was checking the history and had the firstorfail from the beginning.. dunno why i removed it. ;p

Awesome, now the checks and redirects todo ;-)

Thanks alot! really really awesome and nice! :D

[2018-07-20 06:50] willemstuursma commented on #56
Make sure to use HTTP 303 for the redirect so that the checkoutUrl is always accessed with GET.

[2018-07-20 10:57] sandervanhooft commented on #56
@willemstuursma Nice addition, as Laravel's `redirect(...)` helper sets it to 302 by default.

(It does always enforce a GET request though.)

[code]

[2018-07-20 10:59] sandervanhooft commented on #56
So it will be something like `return redirect($payment->getCheckoutUrl(), 303);'

[2018-07-20 11:07] sandervanhooft opened #57 "Include phpunit test examples in docs"
## Expected Behavior

Phpunit test examples in the docs. So it's easier to get started integrating the Mollie php client TDD style.

## Current Behavior

There are no example tests cases.

## Context

It would be great to lower the barrier for automated testing Mollie integrations. There however may be some limitations to end-to-end testing.

[2018-07-20 11:33] sandervanhooft commented on #20
Personally I have used Laravel Spark in the past, but dropped it in the end because it wasn't that interesting for the European market (no translation support, creditcard / paypal only).

[2018-07-20 13:57] #56 closed

[2018-07-30 08:16] nickurt commented on #20
I just found this (starting, wip) repo (in case you didn't saw/found it yet), maybe you guys can collaborate on this matter

https://github.com/runlinenl/dutch-cashier

[2018-07-30 18:43] Smashmint opened #62 "isPaid() return true on a payment that has been charged back"
The `isPaid()` function only checks if the payment has a paidDateTime value, if so it will return true.

I would expect it to return false when a payment has been charged back or refunded.

[2018-07-30 19:34] #62 closed

[2018-08-15 13:43] sandervanhooft opened #65 "Support upcoming Orders and Shipments endpoints"
I'm preparing Mollie's core php client for the upcoming Orders and Shipments endpoints. These should be supported by this package as well.
- [x] Orders
- [x] Shipments
- [x] Captures

[2018-08-15 13:43] sandervanhooft commented on #65
See https://github.com/mollie/mollie-api-php/issues/247

[2018-09-01 10:08] Tjoosten opened #67 "Error executing API call (request): The recurring payment method is inactive."
Hi i can't process my payments. Because the recurring type is inactive. I've been looking in the docs for hours but can't find any solution. Can someone help me?

"Error": Error executing API call (request): The recurring payment method is inactive.

My code:

[code]

[2018-09-02 18:26] sandervanhooft commented on #67
For debugging, try setting

[code]

Because some payment methods are not available for testing when using recurring payments.

[2018-09-02 19:38] Tjoosten commented on #67
Hi i got no spare time atm. I will post the `dd($input)` later this evening/night

[2018-09-03 09:34] sandervanhooft commented on #20
Last week we were at Laracon.eu. Talked to a lot of Laravel enthousiasts.

And with Taylor Otwell ofcourse.

If the proof of concept goes well, he's happy to accommodate us in the official Laravel docs when we're ready for stable release! 🎉

Right now we're busy finalizing work on the Orders & Shipments API and support for Klarna. It's in beta now.

In the meantime, we're working on Cashier on the

[2018-09-03 11:34] Tjoosten commented on #67
@sandervanhooft hi sorry for the delay!

but `dd($input);` gives:

[code]

[2018-09-03 13:54] sandervanhooft commented on #67
It's either because method `belfius` is not enabled for your website profile, and/or it isn't supported in test mode. Method `ideal` works fine for me.

@willemstuursma What do you think?

@Tjoosten also consider upgrading the client to the latest version so you can use the API v2. It offers improved error messages.

[2018-09-03 13:55] ndijkstra commented on #67
This error is because SEPA Direct Debit is not enabled on the website profile. This payment method is needed for recurring payments via belfius for example.

[2018-09-04 05:34] Tjoosten commented on #67
But i filed a review for met cliënt but mollie keep in rejecting the review. But my cliënt is a registered non profit Organization....

No offence but it is a little fustrating

[2018-09-12 14:50] sandervanhooft commented on #65
Also include support for Captures

[2018-10-01 12:13] sandervanhooft opened #70 "Future request: parity with Mollie core client"
## Expected Behavior
Laravel wrapper should behave the same as the Mollie core client. For example:

[code]
This way it's possible to use the same examples in the docs for both.

## Current Behavior
[code]

## Possible Solution
We could implement a magic getter function on the wrapper to proxy the endpoints.

This way,
[code]
would then become an alias for

[code]

## Context
Consistency -> happy

[2018-10-01 12:17] sandervanhooft commented on #70
Inspiration ([link](https://github.com/laracasts/Consider-View-Models/blob/4962945f2c28b0d074659338809b33cb4e532c83/app/Presenter.php#L34)):
[code]

[2018-10-02 10:55] sandervanhooft opened #71 "Possible enhancement: Logging functionality"
# Feature request

## Expected Behavior
Log the requests to and responses from the Mollie API when `debug` is enabled in config.

## Current Behavior
Currently it's not possible to easily log these requests and responses. You'd need to override the app bindings like this solution by @eXistenZNL [here](https://github.com/mollie/mollie-api-php/pull/282#issue-219405081).

## Possible Solution
Somehow

[2018-10-04 17:07] #65 closed

[2018-10-18 10:05] joshuadegier commented on #20
Sounds good! I'll keep an eye on this and I'm willing to use my Spark license to do some beta testing. For the record: I've got no active Spark SaaS application running right now, it'll be in a testing environment.

[2018-10-18 14:12] sandervanhooft commented on #20
Thanks @joshuadegier !

Note that we're working on _Cashier_ now, if things go well _Spark comes after that_.

That being said, it reminds me I should update my existing Spark license when I am ready integrate Cashier Mollie into Spark.

**Update**: I am working on a _second_ Alpha for Cashier these weeks. Behind the scene's I happily killed off the first alpha. Happily - because I learned a lot a

[2018-10-24 12:39] sweebee opened #73 "Socialite not extending"
MollieServiceProvider is not loading out of console. I've added a ```dd('test')``` in this file. but nothing shows up if i open the application, but if i run an artisan command it shows up.

## Expected Behavior
Should load provider with socialite extension. because it shows now ```Driver [mollie] not supported.```

## Your Environment
Laravel 5.7.10
Socialite 3.2
Laravel-mollie 2.3.0

[2018-10-24 13:00] sandervanhooft commented on #73
Hi @sweebee ,

Thanks for opening this ticket.

Are you sure you are invoking the Mollie services (i.e. using `mollie()`) from the url you are accessing?

Bootstrapping the MollieServiceProvider is [deferred](https://laravel.com/docs/5.7/providers#deferred-providers) (meaning it's lazily loaded).

If you are, can you help me reproduce your issue step by step?

[2018-10-24 13:07] sweebee commented on #73
I've got a route ```Route::get('mollie/login', 'MollieController@login');``` which calls this function:

[code]

then i get:

[code]

[2018-10-24 13:37] sandervanhooft commented on #73
Indeed. If you come up with a permanent fix instead of this workaround, please submit a PR.

Otherwise I'll look into it but it may take a while, kinda busy with Laravel Cashier Mollie atm.

Possibly related issues: https://github.com/mollie/laravel-mollie/issues/5, https://github.com/mollie/laravel-mollie/issues/49.

[2018-10-24 13:38] sandervanhooft commented on #73
Could you perhaps check what `dd(interface_exists('Laravel\Socialite\Contracts\Factory'));` yields?

[2018-10-24 13:38] sandervanhooft commented on #73
Another fix could be setting `$defer = false` on the `MollieServiceProvider`.

[2018-10-24 13:42] sweebee commented on #73
putting ```dd(interface_exists('Laravel\Socialite\Contracts\Factory'));``` in my MollieController returns ```true```.

Setting $defer to false does nothing.

[2018-10-24 13:45] sandervanhooft commented on #73
Ok, thanks!

[2018-10-25 12:52] #57 closed

[2018-10-25 13:46] SjorsO commented on #57
You can get pretty far with a testing trait like this:
[code]

Then in your tests you can do something like this:
[code]

[2018-10-25 14:03] sandervanhooft commented on #57
@SjorsO Interesting approach with the mock.

I'd prefer an end-to-end test though, as the example would be to illustrate how you can assert yourself whether your implementation is correct. With a mock you won't have that certainty.

[2018-10-25 14:23] sandervanhooft commented on #73
Hi @sweebee,

So far I'm unable to recreate your issue.

You mentioned

Do you mean you're invoking this from the command line?

[2018-10-25 14:38] sandervanhooft commented on #73
I think I've just recreated it.
And then fixed it by setting `$defer` to `false`. AND do a `composer dump-autoload`.

[2018-10-25 14:39] sandervanhooft commented on #73
@sweebee Can you check if that works for you?

[2018-10-26 14:16] sandervanhooft opened #76 "Preparing Laravel-Mollie v3"
This issue is for discussing / listing v3 features.

These features are intended to be included:
- [ ] MIT license (replaces BSD-2)
- [ ] resolve socialite binding issues (probably a breaking change) by using a dedicated MollieConnectServiceProvider.
- [ ] provide default webhook route with controller and events. All configurable.

Also, don't forget:
- [ ] migration guide (if required)
- [ ] upda

[2018-10-26 14:20] sandervanhooft commented on #73
#76

[2018-10-29 07:33] sweebee commented on #73
@sandervanhooft yes its working then.

[2018-11-10 16:51] #73 closed

[2018-11-10 17:11] sandervanhooft commented on #73
Hi @sweebee ,

I've just released 2.3.1, which disables the deferred loading. So you should be good to go. Let me know if the issue persists.

[2018-11-11 21:07] Roboonl opened #79 "Issuer list is empty when retrieving the methods object"
When I retrieve the methods object the issuers set is empty.

In the old API there was an issuers endpoint, but it seems like that is not available in this package.

How do I retrieve a list of issuers (if possible per method)?
[code]

[2018-11-12 11:11] Roboonl commented on #79
I've just found the ```includes``` parameter, my bad.

[code]

Closing this.

[2018-11-12 11:11] #79 closed

[2018-11-12 11:15] sandervanhooft commented on #79
No problem, thanks for clearing it up 👍

[2018-11-22 16:52] nick076 commented on #20
Do you have any update Sander? Would love to hear something. 👍

[2018-11-22 17:06] sandervanhooft commented on #20
@nick076 et al

Working on the last bits for the alpha release...

[2018-11-22 17:07] sandervanhooft commented on #20
Here's my current backlog:
- [x] Flexible architecture for adding discount handling in the future
- [x] Flexible architecture for adding metered subscriptions in the future
- [x] Flexible architecture for adding one-off items in the future
- [x] Define and retrieve subscription plans
- [x] Process Order Items into an Order (not yet integrated with Mollie)
- [x] Processing an orderItem empties subs

[2018-11-22 17:08] sandervanhooft commented on #20
This stuff is for later:

# Later
- [ ] Store Order details (= Mollie Order payload) on payment metaData
- [ ] Swap mandate (similar to "swap cards") <- store preferred mandate id on Owner model
- [ ] Check db transactions:
    - [ ] Transaction scopes ok?
    - [ ] Require more transactions?
- [ ] Dynamically bind OrderNumberGenerator
- [ ] Dynamically bind Cashier
- [ ] Extract Mollie/Laravel-Ca

[2018-11-22 17:11] sandervanhooft commented on #20
Thanks for sharing the enthusiasm!

[2018-11-22 17:54] Treggats commented on #20
Awesome work so far, count me in for the beta

Op do 22 nov. 2018 18:23 schreef Sander van Hooft <notifications@github.com:

[2018-11-22 17:58] sandervanhooft commented on #20
@Treggats Thanks! You mean the alpha? 😄

[2018-11-22 17:58] JoeriAben commented on #20
Would be nice to join the alpha testing group and help improve the package.

[2018-11-22 18:03] Treggats commented on #20
Whoops, yes the alpha🐒

Op do 22 nov. 2018 18:58 schreef Sander van Hooft <notifications@github.com:

[2018-11-22 18:18] petericebear commented on #20
I would like to join that group :)

[2018-11-29 14:14] sandervanhooft commented on #20
@nick076
@Treggats
@JoeriAben
@petericebear

You can expect the invite in a minute. ✉️

**Request:** It would be of great help if you can give the package a try by letting it run some subscriptions for a while and check if it behaves as expected over time.

[2018-11-29 14:18] sandervanhooft commented on #20
If there's any issues, questions,suggestions etc. please open an issue there.

[2018-11-29 15:21] sandervanhooft commented on #20
Also, feel free to retweet this so we can extend the test group a bit: https://twitter.com/SandervHooft/status/1068160537106833412

[2018-11-29 15:22] milo526 commented on #20
Hello, I would also like to explore the possibilities of laravel-cashier if possible.

[2018-11-29 15:50] BasMulders commented on #20
Can't wait to play around with Cashier in combination with Mollie. I'd like to receive an invite as well. Thanks!

[2018-12-02 15:58] petericebear commented on #20
I will test this week with some subscriptions :D

[2018-12-02 17:06] larskoole commented on #20
Hey, finally found some time to reply since @robindirksen1 tweeted you. Could I get an invite for the alpha?

[2018-12-03 09:40] nickurt commented on #20
Can I get an invite aswell?

[2018-12-13 21:32] Datalink-Wouter opened #84 "Get all recent payments: not working in V2"
In V1 you could do something like this to list all recent payments.
`$payments = Mollie::api()->payments()->all(0, 100);`

Since V2 the all() method is not there anymore.
Is there another way to access the latest transactions?
(all payments in the last 5 minutes would be even better)

There is a "payments"-endpoint in the main API => https://docs.mollie.com/reference/v2/payments-api/list-payments

[2018-12-13 21:43] Datalink-Wouter commented on #84
Oops, I guess we should use something like this now:
`Mollie::api()->payments()->page();`

(I think it's helpful to mention this in the documentation too)

[2018-12-13 21:58] sandervanhooft commented on #84
Hi @Datalink-Wouter !

Glad to read you found the solution 😊. If you'd like you can further shorten it by using

[code]

Thanks for the docs suggestion.
I'm trying to keep the docs a bit condensed here. The case you mentioned is in line with this + docs at https://docs.mollie.com. Let me know if you disagree or need further support.

I'm closing this issue for now.

[2018-12-13 21:58] #84 closed

[2018-12-13 22:00] sandervanhooft commented on #20
For the invitees: could you help me by replying to this "First impressions" thread?

I'm drafting the plans for the next release, would love your input.

It's here: https://github.com/mollie/laravel-cashier/issues/4

[2018-12-14 13:50] tdgroot commented on #20
@sandervanhooft I would like to be invited as well!

[2018-12-26 16:13] WebWeave commented on #20
@sandervanhooft would love to be invited and give it some tests.

[2018-12-27 09:46] mbardelmeijer commented on #20
@sandervanhooft beta invite would be appreciated here as well :)

[2018-12-27 10:13] ruthgeridema commented on #20
@sandervanhooft would like a beta invite as well!

[2019-01-02 13:39] KumaVolt commented on #20
@sandervanhooft, Would love to receive a alpha/beta invite as well

[2019-01-10 17:39] sjorsvanheuveln opened #85 "How to couple a download to a payment"
How would I couple a download after a payment is done? What is the recommended way to this. Add in the webhook, after payment is completed?

[2019-01-10 18:14] Beaudinn commented on #20
@sandervanhooft, Would love to receive a alpha/beta invite as well

[2019-01-10 21:25] sandervanhooft commented on #85
Hi @sjorsvanheuveln,

You are on the right track. Once the webhook is called for a payment, check that the payment has status `paid`. You can then offer the download (make sure the file is not publicly accessible, authenticated download only).

[2019-01-13 16:44] sjorsvanheuveln commented on #85
So it is possible to implement the download action in the webhook? Because I'm now doing it on the return page, but it looks very redundant as I need to check the DB again.

[2019-01-13 21:07] sandervanhooft commented on #85
Take a look at [this guide](https://docs.mollie.com/payments/overview). Step 6 (thank you page) is where you offer the download link.

[2019-01-13 21:48] sjorsvanheuveln commented on #85
Ok good, so then I did the right thing and I shouldn't do it in the webhook. Ok, dankjewel Sander!

[2019-01-13 21:48] #85 closed

[2019-01-14 16:48] sandervanhooft commented on #20
To all newcomers, be sure to share your first impressions [here](https://github.com/mollie/laravel-cashier/issues/4).

If you want to dive a bit deeper, I could your input [here](https://github.com/mollie/laravel-cashier/issues/20).

[2019-01-15 11:30] pascualstromsnes commented on #20
@robindirksen1  Oh, sorry. I didn't know that. I have noe applied for access, so that must be the reason. Thank you!

[2019-01-15 11:50] sandervanhooft commented on #20
@pascualstromsnes I've sent you an invite.

[2019-01-15 13:06] sandervanhooft commented on #20
Great to here from you @pascualstromsnes ! Some interesting thoughts you're sharing here.

Here's my take...

The Laravel Cashier packages are primarily intended for _subscription_ billing.

After working with Stripe, Braintree and Mollie integrations (incl Spark) I've experienced that solutions like OmniPay are unlikely to ever cover these recurring billing requirements for all sorts of payment m

[2019-01-17 22:13] GhoSTBG opened #86 "Class 'App\Http\Controllers\Mollie' not found"
I've just installed this cool package, and when I copy/pasted the example it returns error **"Class 'App\Http\Controllers\Mollie' not found"** I'm working on Laravel 5.7 also can you provide better example because I can't understand how it works?

[2019-01-17 22:43] sandervanhooft commented on #86
You'll need to implement a controller yourself.

Check out the Mollie docs to get an understanding of their service. [Here's a quick overview](https://docs.mollie.com/payments/overview).

[2019-01-17 22:43] sandervanhooft commented on #86
You'll need to implement a controller yourself.

Check out the Mollie docs to get an understanding of their service.

[2019-01-17 22:43] #86 closed

[2019-01-17 22:44] GhoSTBG commented on #86
But how can I use the Mollie class?

[2019-01-17 23:02] sandervanhooft commented on #86
Import the Mollie facade.

[2019-01-17 23:03] sandervanhooft commented on #86
Or use the `mollie()` helper instead

[2019-01-18 09:12] GhoSTBG commented on #86
`use Illuminate\Support\Facades\Moolie;` is giving the same error and `mollie()` helper is throwing `"Call to undefined function App\Http\Controllers\mollie()"`

[2019-01-22 18:57] nouce opened #87 "Can't list all payments"
Hi,

I am trying to list al the payments, but it doesn't show the payment objects?

I am using the laravel api wrapper.

My code:

[code]

My response is (image):
https://drive.google.com/open?id=1SHUt1SxEZ992OxjCDhcD4EwxmJWmUFZL

According to the documentation i need to get a '_embedded' object? Does someone know what i'm doing wrong?

[2019-01-22 19:31] nouce commented on #87
<img width="305" alt="schermafbeelding 2019-01-22 om 19 52 48" src="https://user-images.githubusercontent.com/45368779/51560384-a4bee100-1e84-11e9-8753-5532abb23b57.png">

[2019-01-22 19:33] sandervanhooft commented on #87
‘dd($payments[0]);’

?

[2019-01-22 19:46] nouce commented on #87
yes, that works. Thanks for the help!

[2019-01-22 19:46] #87 closed

[2019-01-22 19:52] sandervanhooft commented on #87
NP, enjoy :)

[2019-02-09 08:08] chefbuitenhuis commented on #20
@sandervanhooft I'm currently working on something with Spark and I'd love to join test group for the Cashier package.

[2019-02-10 16:14] sandervanhooft commented on #20
@chefbuitenhuis , I'll invite you in a sec, but please note that this package does not (yet) cover integration with Spark.

[2019-02-23 17:00] MSnoeren commented on #20
@sandervanhooft I'm currently working on a PaaS application (not Spark) with subscriptions and would like to test/have access too. Can I be invited as well?

[2019-02-26 13:15] ufeg02 commented on #20
Can I also get an invite?

[2019-02-26 13:24] sandervanhooft commented on #20
FYI I'm working on the next alpha release, which will have some breaking changes compared to the current `master` branch. I plan to release it by the end of this week.

You can already check the `alpha_2` branch (WIP).

[2019-03-01 09:30] pjeutr opened #90 "laravel 5.4"
Im using laravel/framework v5.4 and it seems to work fine with this framework
but installing fails because of "illuminate/support": "^5.5",

## Expected Behavior
composer require mollie/laravel-mollie:^2.0
working fine with lower versions of laravel

## Current Behavior
composer require mollie/laravel-mollie:^2.0
Your requirements could not be resolved to an installable set of packages.

## Possib

[2019-03-01 11:19] sandervanhooft commented on #90
Hi @pjeutr ,

Thanks for writing this ticket.

When this client was upgraded to v2, there were some issues making it impossible to maintain support for Laravel 5.4.

Unfortunately I can't recollect specifically which dependencies were causing these issues - there's a good chance it's possible now.

Feel free to submit a PR with modified `composer.json` and `travis` files.

[2019-03-01 12:01] sandervanhooft commented on #90
I'm closing this issue for now, let me know if it should be reopened.

[2019-03-01 12:01] #90 closed

[2019-03-16 11:16] pjeutr commented on #90
Just to report back that I found no problems using Laravel 5.4.
Tested with single and recurring payments with a customer.

[2019-03-27 19:00] Fossil01 commented on #20
Great stuff. Cannot wait for this to be integrated :-D

[2019-04-05 06:06] danman1234 commented on #37
I got the same problem. My $_POST['id'] is empty.

`$payment = $mollie->payments->create([
		  "amount" => [
				"currency" => "EUR",
				"value" => "".array_sum($total).".00" // You must send the correct number of decimals, thus we enforce the use of strings
		  ],
		  "description" => "Premium rapport",
		  "redirectUrl" => "".HTML_ROOT."betaald",
		  "webhookUrl" => "".HTML_ROOT."inc/webhook.ph

[2019-04-11 08:00] nickurt opened #93 "Methods/allAvailable with oAuth: Non-existent body parameter "profileId" for this API call"
It looks like something changed with the Methods/allAvailable-call when you are using this with oAuth/tokens.

Previously (~ 3/4w ago), this worked ...
[code]

In a recent commit in the mollie-api-php repo I saw a new mention 'profileId parameter if using OAuth Access Tokens', so I added the 'profileId' parameter, like this ..
[code]
but after that I got this exception thrown

```Error executing A

[2019-04-11 08:13] sandervanhooft commented on #93
Hi Nick,

Thanks for reporting this. You’re correct
We’re aware of this issue and working on a fix in the mollie-api-php package. I’ll report back here when it’s available.

[2019-04-11 08:15] nickurt commented on #93
Ah ok, Sander.

No worries, thanks for your hardwork (as always) :+1:

[2019-04-11 12:14] sandervanhooft commented on #93
Related core client issue: https://github.com/mollie/mollie-api-php/issues/375

[2019-04-11 12:27] sandervanhooft commented on #93
Hi @nickurt ,

I've released a patch just now. If you run `composer update` or `composer update mollie/mollie-api-php` it should update to the `v2.8.3` php core client.

[Release info here](https://github.com/mollie/mollie-api-php/releases/tag/v2.8.3)

[2019-04-11 12:27] #93 closed

[2019-04-11 14:39] nickurt commented on #93
Thank you, Sander, it worked.

[2019-04-16 08:20] crnkovic opened #94 "Batch refreshing of access tokens"
Hey folks,

what would be the best way to refresh a Mollie Connect access token for multiple users?

Pretty common use-case: have a webshop where sellers hook up their Mollie account using Socialite. When a purchase is made, make a payment to their account but take an application fee. Currently, all Mollie tokens obtained via Socialite expire an hour after obtaining, and if someone tries to purcha

[2019-04-16 12:05] sandervanhooft commented on #94
Hi @crnkovic ,

The Mollie docs mention refreshing the access tokens _periodically_, as you suggest.

Alternatively, you can fetch a new access token when you need it ("lazily").

Both are accepted methods, there is no strict "OAuth way" for this.

[2019-04-16 12:05] #94 closed

[2019-04-18 14:59] sandervanhooft commented on #90
Thanks for reporting this back @pjeutr, good to know.

During the upgrade of the underlying core mollie php client, we decided to take Laravel's latest LTS (5.5) version as a minimum requirement. I'm sticking to that.

[2019-04-26 12:19] EZstagetwee commented on #20
I would very mutch like an invite!

[2019-04-26 12:21] jaap115 commented on #20
Me to. Can I still get invites?

[2019-04-27 15:58] nathanverduyn commented on #20
Can I get an invite? Thank you!

[2019-05-04 05:17] skalero01 commented on #20
Can I get an invitation please?

[2019-05-09 12:30] rassemdev opened #96 "Error executing API call (422: Unprocessable Entity): No suitable payment methods found"
## Expected Behavior
I'm trying to integrate laravel-mollie in my e-commerce website. Though i'm getting an error at the beginning.

## Current Behavior
While checking out from my cart option i'm calling the function that is creating the payment using the code that shown in example. But It is giving me error below.

Mollie \ Api \ Exceptions \ ApiException (422)
Error executing API call (422: Unpr

[2019-05-09 13:19] sandervanhooft commented on #96
Hi @rassemdev ,

It seems there is no payment method enabled in your account (or the specific method field you're passing is not enabled). Please check your Mollie dashboard.

This is not an issue with `laravel-mollie`, so for follow up please contact [Mollie support](http://mollie.com/support).

[2019-05-09 13:19] #96 closed

[2019-05-09 13:20] rassemdev commented on #96
Can't i just use it for test environment!

[2019-05-09 17:20] rassemdev opened #97 "Not redirecting to payment page."
I'm trying to integrate laravel-mollie in my e-commerce website and followed your example to implement it. When i'm creating new payment in should redirect me to payment page, But its not showing anything.. here is my code:

`     public function preparePayment($data, $orderId)
      {
	    $payment = Mollie::api()->payments()->create([
		   'amount' => [
                         'currency' => 'EU

[2019-05-10 05:55] rassemdev commented on #55
@JerryKrakel  i'm also trying to integrate laravel-mollie, But i'm stuck at redirecting. Mine is not redirecting to payment page. Can you help me out!

[2019-05-10 10:38] ndijkstra commented on #97
Hi @rassemdev,

Can you try it without this part `$payment = Mollie::api()->payments()->get($payment->id);`?

[2019-05-10 10:44] rassemdev commented on #97
@ndijkstra no use... same.

[2019-05-10 10:49] ndijkstra commented on #97
Is it possible that an exception is thrown?

[2019-05-10 10:49] rassemdev commented on #97
ahh. sorry.. my fault.. got it.. I using using trait to use it..

[2019-05-10 10:49] #97 closed

[2019-05-11 13:11] peterjaap commented on #20
:raised_hands:

[2019-05-15 09:41] sweebee opened #98 "Mollie connect locale"
When using mollie connect to connect to a Mollie account, you get redirected to https://www.mollie.com/dashboard/signup?lang=en

is there a way to change the locale to ```nl```?

[2019-05-16 09:58] sandervanhooft commented on #98
Good question @sweebee , I'll look into this.

[2019-05-16 10:01] sandervanhooft commented on #98
@sweebee what method are you calling specifically when this occurs?

[2019-05-16 10:02] sweebee commented on #98
I'm calling the oauth login method:

[code]

[2019-05-16 10:08] sandervanhooft commented on #98
Have you tried this?

https://laravel.com/docs/5.8/socialite#optional-parameters

[2019-05-28 11:03] lexdewilligen commented on #20
It's end of may now, any news on the launch date?

[2019-05-28 11:06] robindirksen1 commented on #20
he tweeted yesterday this: https://twitter.com/SandervHooft/status/1133055603167977473

"On it! Will tweet when it’s available later this week."

[2019-05-28 11:58] sandervanhooft commented on #20
Nearly there.

I'm ironing out some things that are hard to change once released into the wild. 🐘🦁

[2019-05-28 12:58] sandervanhooft commented on #20
Ok, so this is what's changing with the release:

- package name is now `laravel/cashier-mollie` instead of `mollie/laravel-cashier`. Update your `composer.json` to reflect this. All namespacing in your php files remains the same (`Laravel\Cashier`).
- `PlanRepository::all()` is now a `protected` method. As with other Cashier implementations, use hardcoded references to the plans.
- Added artisan

[2019-05-29 06:48] sandervanhooft commented on #20
We went live yesterday evening!

The repo (and docs for now): https://github.com/laravel/cashier-mollie

My introductory blog post: https://www.sandervanhooft.com/blog/laravel/laravel-cashier-mollie-is-here/

Enjoy!

[2019-06-05 08:58] #20 closed

[2019-06-06 12:19] myurtsev opened #100 "Laravel 5.5 ignores 'webhookUrl'"
## Expected Behavior
function bound to webhookurl route should be triggered. I should be able to dump the request.

## Current Behavior
It redirects only to redirectUrl. Webhookurl is ignored completely.

## Steps to Reproduce (for bugs)
1.  Create payment, as shown in examples, make sure to set redirectUrl and webhookUrl ofcource, make the routes and try to dump the request.

Only redirecturl get

[2019-06-06 12:42] sandervanhooft commented on #100
Hi @myurtsev ,

Regarding the `webhookUrl`:
- this webhook is called asynchronously , so it's possible it gets called after redirecting back to the `redirectUrl`.
- have you checked the payment in the Mollie dashboard? If you're on desktop, you can see the webhook call results on the right of the screen. What does it say?

[2019-06-06 12:50] myurtsev commented on #100
Hi @sandervanhooft

In Mollie staat het volgende / Webhook call results:

"Webhook met succes aangeroepen, duurde 0,5 seconden"

[2019-06-06 13:13] sandervanhooft commented on #100
Try logging the call from the route / controller, I'm sure you should see it then in your logs.

[2019-06-06 16:30] myurtsev commented on #100
Nevermind, it works! Thank you anyway Sander.
Turns out it was a mistake of mine I overlooked

[2019-06-06 16:46] #100 closed

[2019-06-26 11:59] ubaidzahoor opened #102 "Route [webhooks.mollie] not defined."
Route [webhooks.mollie] not defined.

[2019-06-26 14:17] sandervanhooft commented on #102
Define a route with name `webhooks.mollie` first

https://laravel.com/docs/5.8/routing#named-routes

[2019-06-26 14:17] #102 closed

[2019-06-27 13:22] VeraGerritseDeltion opened #103 "Webhook not called"
##  Expected Behavior
After payment is made, the webhook should be called to change my database.

## Current Behavior
After payment the page goes to the redirect page. But the Webhook is never called. and my database is never called

## Steps to Reproduce (for bugs)
![mollie_payment](https://user-images.githubusercontent.com/22653863/60269434-bfdbc400-98ee-11e9-88f2-95ccbc76ae23.PNG)
![mollie_hand

[2019-06-29 12:55] sandervanhooft commented on #98
Closing this issue, let me know if the problem persists.

[2019-06-29 12:55] #98 closed

[2019-06-29 12:56] sandervanhooft commented on #103
@VeraGerritseDeltion Can you check in the Mollie Dashboard that the webhookUrl has been set correctly, and what response Mollie gets when calling it (should be on the sidebar to the right)?

[2019-07-01 08:28] VeraGerritseDeltion commented on #103
@sandervanhooft I can't seem to find the webhookUrl in the dashboard. in a test payment there is a redirectUrl but not a webhookUrl. Is that where you are supposed to check it?
![Mollie_PaymentInDashboard](https://user-images.githubusercontent.com/22653863/60421838-efd6e000-9bea-11e9-8188-75bf10c57aab.PNG)

[2019-07-01 08:39] sandervanhooft commented on #103
The `webhookUrl` doesn't seem to be sent to Mollie then. Can you check the payload?

You can use Laravel's `dd($payload)` helper method.

[2019-07-01 08:44] petericebear commented on #103
In the handle of the webhook, do you trigger a database save? Looks like you are finding the invoice, and set the status. But no save is in the image. Could that also be a thing?

[2019-07-01 08:46] VeraGerritseDeltion commented on #103
@sandervanhooft i tried again and the url is ther enow but it is saying that there is an error.
![image](https://user-images.githubusercontent.com/22653863/60422993-74c2f900-9bed-11e9-8f34-32f4eb377816.png)

[2019-07-01 08:47] VeraGerritseDeltion commented on #103
@petericebear i do actualy save it. but it is indeed not in the picture

[2019-07-01 08:54] sandervanhooft commented on #103
This error means Mollie is receiving a 500 response when calling your webhook. You can probably find more in the Laravel logs.

[2019-07-01 08:54] baristacoder commented on #103
Ah, status 500. There should be a log entry now in /storage/logs/laravel.log (default location) it could help you further.

[2019-07-01 09:47] VeraGerritseDeltion commented on #103
it has indeed been fixed now!
thanks for all the help.

[2019-07-01 09:47] #103 closed

[2019-07-18 23:15] visualight opened #104 "Webhook : how to catch cancelled refund ?"
Hello,
I'm testing Mollie and I saw that when I cancel a refund from the dashboard, the webhook is called. I can not find any documentation to know how I can capture the canceled refund.

I need this to cancel transactions and credit notes on my server.

If I cancel a refund to the customer, the webhook displays a 500 error because it treats mollie's call as a payment and not a refund (it seems to

[2019-07-19 09:18] sandervanhooft commented on #104
Hi @visualight ,

For all refund events, the parent payment's webhook will be called. To see what happened exactly, you'll have to fetch and diff the refunds against your own records and see what has changed.

You can access the refunds using `$payment->refunds()`.

Personally, I find this a bit more complex than it should be and am discussing other solutions with Mollie, but this issue is not at

[2019-07-20 13:07] visualight commented on #104
Hi @sandervanhooft ,

Calling  $payment->refunds() did not working.
I cannot see and get refund amount to diff with locale data.

hasRefunds method work to know if a refund has been emitted but i need to know the best method if a refund is cancelled from the mollie dashboard.

[code]

[2019-07-20 21:10] sandervanhooft commented on #104
Ok, so the flow would be like this:

- the refund is canceled from the Mollie dashboard
- your webhook is called with the payment id (the payment for which the refund was created)
- you fetch the payment using the paymentId
- you fetch all the refunds for the payment using `$payment->refunds()`
- you check the refunds' statuses against your local refund records

On what step are you stuck currentl

[2019-07-21 06:53] visualight commented on #104
Hi @sandervanhooft !

This is exactly what I do as a procedure except that to see what happens I fetch the payment in get mode. Note Mollie is in test mode.

1. I cancel the refund of the Mollie dashboard
2. Mollie records the cancellation but since my webhook is in get and not post, mollie puts me a 405 error (which is normal).
3. Meanwhile, I'm running my webhook manually as follows:

[code]

So

[2019-07-22 07:18] sandervanhooft commented on #104
It seems to me there's an issue in your code sample:

[code]

This means the payment is paid, has **_NO_** refunds, and has no chargebacks. A canceled refund is still a refund.

[2019-07-22 07:18] sandervanhooft commented on #104
So it will only dump empty refund collections.

[2019-07-22 07:32] visualight commented on #104
Hi @sandervanhooft

If I click refund in Mollie Dashboard, I get refund with hasRefund or with $payment->refunds().

[code]
When i do a cancel refund, $payment->refunds() is empty.
So why Mollie Call the Webhook when we cancel refund if we cannot catch the cancel and make appropriate work server side ?

We need to catch an action like : hasRefundChargeBack or something else to have the canceled re

[2019-07-22 07:52] sandervanhooft commented on #104
Ah, ok, now I understand. Thanks for clearing that up.

I think that diffing the refundCollection would still be the best solution here. So if the refund no longer exists, assume it was canceled.

One other thing you could try is fetching the payment [using the embed refunds parameter](https://docs.mollie.com/reference/v2/payments-api/get-payment#parameters). Perhaps this will include canceled ref

[2019-07-22 08:20] visualight commented on #104
Thank you @sandervanhooft

Last thing : how i can pass the "embed" query string with the Mollie laravel API ?
`$payment = Mollie::api()->payments()->get($request->id);`

Have a nice day.

[2019-07-22 08:49] sandervanhooft commented on #104
No problem!

Should be something like:

[code]

[2019-07-22 08:49] sandervanhooft commented on #104
Closing this for now, let me know if it needs to be reopened.

[2019-07-22 08:49] #104 closed

[2019-08-13 22:37] Thorazine opened #106 "Examples for deletion of mandate and users"
Mollie v2 is working fine with sepa and other payment systems. But I need a way for the user (me) to invalidate or, better yet, delete mandates.

Also, I would like to know how to delete created users from mollie's database. I know I can do so from the panel, but an API example would be better.

[2019-08-14 06:23] sandervanhooft commented on #106
Hi @thorazine,

Should be possible. What have you tried so far?

[2019-08-14 09:46] Thorazine commented on #106
Well, in the examples I found how to retrieve mandates, and that works fine. So I have the mandate id's as well as the user id's. But looking through the package and docs I could not find a delete function, which I tried in the code (fail). I would have suspected something like:

[code]
Or
[code]
But no joy. I do know it's possible seeing the api docs say it can be done. But doing it with this pac

[2019-08-14 20:50] sandervanhooft commented on #106
Try using revoke() on a retrieved mandate, as suggested here:

https://docs.mollie.com/reference/v2/mandates-api/revoke-mandate

[2019-08-15 13:58] sandervanhooft commented on #106
[code]

[2019-08-15 13:58] #106 closed

[2019-09-01 15:40] Dennisprins93 opened #108 "Onboarding API registrationType"
Hi Guys,

I'm trying to build an app that uses OAuth to connect with the Mollie account of my customer, and I want to submit/fill the onboarding data for my customer through your Onboarding API.

I'm facing a problem and that is that it's impossible to parse the Registration Type of the organization to the belonging Mollie Account. Whatever field I add to the organization array, (i.e. registration

[2019-09-07 16:51] ricoxor commented on #20
Hello,
I really wish I could use Mollie on Laravel Spark. +1

[2019-09-09 07:07] peterjaap commented on #20
@ricoxor at Laracon EU 2019, @sandervanhooft announced he would be releasing Cashier-Mollie for Spark soon (this year in any case).

[2019-09-09 10:25] sandervanhooft commented on #20
Confirmed!

https://twitter.com/SandervHooft/status/1168838823951896576

[2019-09-14 20:41] Dennisprins93 opened #110 "array_add error when upgrading to Laravel 6.x"
When I try to connect via oauth with mollie connect I get that the array_add method is undefined.

There is a function `getTokenFields` in `MollieConnectProvider.php` around line 149. This is calling a helper called `array_add`. This was a helper that was present in 5.8, but is now removed in 6.x and now has to be:

[code]

Compare these files from the laravel framework and you'll see that it's re

[2019-09-14 20:43] #108 closed

[2019-09-15 09:40] sandervanhooft commented on #110
Hi @Dennisprins93 ,

That's correct. Could you prepare a PR with the _full_ old function? (So not using `Arr::add(...)`)?

[2019-09-15 11:05] Dennisprins93 commented on #110
I don’t get it. The old function is array_add, but that can’t be used anymore. But the old “array_add” in laravel/framework 5.8 was returning “Arr::add”. So what exactly do you expect in the PR?

[2019-09-16 10:02] sandervanhooft commented on #110
Taking a different approach, preparing a PR here: #111, releasing today.

[2019-09-16 10:13] #110 closed

[2019-10-13 09:18] remcomulders opened #113 "Payment status Test mode"
Hi guys,

While testing the Mollie API, I get redirected to the Mollie Checkout screen (as expected). However, if I check the payment status anything else as Paid, I get redirected back to chose a payment method. Only if I check Paid or if I press "Previous Website" in the bottom left corner, I get forwarded to my success or canceled page, respectively. Is this the way it should be? Or should I al

[2019-10-15 13:07] jettaz opened #114 "not compatible with laravel v6"
i have laravel v6.0.4 and whant to install mollie, but i get error.
## Expected Behavior
i whant to install laravel mollie on my laravel v6+ project

## Current Behavior
can't install laravel-mollie

## Possible Solution
don't know =S

## Steps to Reproduce (for bugs)
1. Have laravel v6+
2. use "composer require mollie/laravel-mollie:^2.0"
3. get error
`Problem 1
     Installation request for moll

[2019-10-15 13:43] sandervanhooft commented on #114
Hi @jettaz ,

`mollie/laravel-mollie` supports Laravel v6 since release `v2.7.0` ([link](https://github.com/mollie/laravel-mollie/releases)) and [it seems to work fine](https://travis-ci.org/mollie/laravel-mollie).

The only suggestion I can give you is removing the vendor dir and reinstall using `composer update`. Additionally you can try being more explicit using `"^2.7"`.

[2019-10-15 13:43] #114 closed

[2019-10-15 13:45] sandervanhooft commented on #113
Hi @remcomulders ,

Seems like there's a loop. Can you check whether the url you're using for the `redirectUrl` is sending the customer to Mollie's checkout (because it shouldn't)?

[2019-10-15 13:54] sandervanhooft commented on #113
Scratch that. Just checked with support. It's normal behaviour.

[2019-10-15 13:54] #113 closed

[2019-10-15 13:59] sandervanhooft commented on #113
From support:

When a payment can be paid with more than one method the consumer goes back to the method selection screen after a failed / cancelled payment.
The consumer can select an other payment method to complete the payment with.
There is a "abandon payment" link in the bottom left of the payment selection screen.

[2019-10-15 16:43] remcomulders commented on #113
Awesome, thanks for checking. Seems like everything works fine than! Again, thank you! Amazing API, keep it up!

[2019-10-26 18:07] sylvainR37 opened #115 ""No suitable payment methods found" for SEPA payement"
I want to set up a payment recur with the SEPA method but I can not be redirected to the form.

`$customer = Mollie::api()->customers()->create([
            "name"  => "John Doe",
            "email" => "john@doe.com",
        ]);

        $payment = Mollie::api()->payments()->create([
            "amount" => [
                "currency" => "EUR",
                "value"    => "25.00", // You mus

[2019-10-29 13:29] #115 closed

[2019-10-29 13:31] sandervanhooft commented on #115
For future reference: this error occurs when there are no (suitable) payment methods enabled on the profile. Check the Mollie dashboard.

[2020-02-19 10:00] preliot opened #116 "Question: is there a better way to use multiple api keys?"
This package expects an environment variable 'MOLLIE_KEY' to be set. In my project i have several client shops, that all need a different API key.

Underneath my solution, but i wonder, is there a better way? This solution could create issues in the future, when the underlying code is changed.

app/config.app.php

[code]

app/providers/CustomMollieServiceProvider.php
[code]
app/wrappers/CustomMoll

[2020-02-19 10:08] sandervanhooft commented on #116
I’d either do it the way you have described here, or use the mollie/mollie-api-php package instead. The Laravel package essentially wraps and preconfigures the mollie-api-php package with the keys.

[2020-02-19 10:08] #116 closed

[2020-03-19 15:24] fatelgit opened #119 "Webhook gets called before Transaction created"
When creating a recurring payment the webhook will be fired before transaction is inserted into the database. Therefore the transaction id is unknown to my application. The documentation recommends to return a status 200 even if transaction is unknow: "To not leak any information to malicious third parties, it is recommended to return a 200 OK response even if the ID is not known to your system."

[2020-03-19 18:25] sandervanhooft commented on #119
Hi @fatelgit ,

Thanks for opening this issue. I am dealing with the same problem in `laravel/cashier-mollie` and I can tell it's a bit hard to debug.

I see two solution directions here:

1. As you mentioned you could choose to not return a 200 response but a 404 (not found). Mollie will then retry the webhook [using increasing intervals](https://docs.mollie.com/guides/webhooks#retry-schema). You

[2020-03-19 18:25] #119 closed

[2020-03-20 09:20] sandervanhooft commented on #119
@fatelgit  Ok, so I've discussed this with Mollie and checked this in an integration I'm running.

The issue only occurs in `testmode`. In `testmode` the webhook is called _instantly_. In live mode, the call gets queued at Mollie, always causing some delay.

In the integrations I've checked, the issue only occurs in `testmode`, not in `live` mode.

[2020-03-20 19:10] fatelgit commented on #119
@sandervanhooft Thank you for your pretty fast response. Using a queued job seems to be the smarter way but due to your second response I think I will go with a 200 response for production and 404 in testmode. Good to know that this behaviour is  intended.
Thank you for helping me out!

[2020-03-26 20:47] fvanhove opened #120 "Apple pay integration"
How is the Apple pay integration intended to be used?
It seems after enabling this in the Mollie payment methods it is still not provided in the response of
`mollie()->methods()->all()`

Does this only work for the Mollie checkout flow or can the Apple pay direct integration be used?
if so, how would this be used together with the laravel-mollie package?

Kind regrads

[2020-03-27 13:39] sandervanhooft commented on #120
Hi @fvanhove,

**About `Laravel-mollie` vs `mollie-api-php`**

This Laravel package builds upon the `mollie-api-php` client. The primary benefit of the Laravel package is that it preconfigures the php client using Laravel best practices.

The `laravel-mollie` endpoint methods are therefore similar to the `mollie-api-php` endpoint methods.

So if in the [mollie docs](https://docs.mollie.com/referen

[2020-03-31 09:49] sandervanhooft commented on #120
Hi @fvanhove ,

Can you try the following?

[code]

[2020-03-31 11:41] fvanhove commented on #120
Hey, @sandervanhooft.

I think you meant:
`mollie()->methods()->all(["includeWallets" => "applepay"]);

That indeed adds the apple pay method to the list, thanks for the info.

[2020-03-31 11:52] sandervanhooft commented on #120
You're right! Glad it helped.

[2020-03-31 11:52] #120 closed

[2020-04-18 08:30] rabol opened #122 "Add a migration file for mollie fields"
Suggestion:

Part of the installation of this package is to run php artisan cashier:install
It publish some migration files and views.

It would be nice to also have a migration file for adding the fields to the user table - sure It's easy to make your self, but a pre-made would make the whole thing easier :)

[2020-04-18 08:37] #122 closed

[2020-05-03 17:52] mehedi-iitdu opened #123 "cURL error 2"
Mollie\Api\Exceptions\ApiException
cURL error 2: easy handle already used in multi handle (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)

[2020-05-03 19:15] sandervanhooft commented on #123
Hi,

Can you provide information about the versions you’re using for:

- laravel mollie
- guzzle
- php

[2020-05-03 20:05] mehedi-iitdu commented on #123
"php": "^7.2.5",
        "fideloper/proxy": "^4.2",
        "fruitcake/laravel-cors": "^1.0",
        "guzzlehttp/guzzle": "^6.3",
        "laravel/framework": "^7.0",
        "laravel/tinker": "^2.0",
        "mollie/laravel-mollie": "^2.0",

[2020-05-04 08:49] sandervanhooft commented on #123
Could you use

`composer show <dependency name>`

for each package to obtain the actual versions in use?

[2020-05-10 08:32] flowroma opened #124 "PaymentID undefined variable"
I have two issues which I had not experienced without the laravel framework. So when I require the package in composer, I get both mollie-laravel and mollie-php and I am using the latest version of the package.

I face two issues:

1. Setting up my api key in .env file is not recognized. I have to manually enter this in vendor/mollie/mollie-api-php/src/MollieApiClient.php and some other places in

[2020-05-10 08:39] sandervanhooft commented on #124
1. Try clearing the config cache. If that doesn’t work, check if this package’s ServiceProvider is registered.

2. Where’s the `id` in your `$request` coming from?

[2020-05-10 09:05] flowroma commented on #124
1. First deleting the config cache and registering the ServiceProvider (which wasn't registered for some reason) gives the follow error:

Fatal error: Uncaught Error: Call to undefined method Illuminate\Foundation\Application::withFacades() in /home/***/***.nl/bootstrap/app.php:29 Stack trace: #0 /home/***/***.nl/public/index.php(40): require_once() #1 {main} thrown in /home/***/***.nl/bootstrap/a

[2020-05-10 09:10] flowroma commented on #124
I will do a fresh install first. Something's messed up with composer and how I installed the Mollie package

[2020-05-10 10:31] flowroma commented on #124
Now that issue 1 is resolved by a fresh install, let's focus on issue 2.

In the PreparePayment function, after the creation of a payment, a payment id is created and available in the $payment->id property.  I removed the Request now since a payment id is automatically created and stored in the payment id property.

In the thank you function, where I try to retrieve the payment id, the return is t

[2020-05-10 11:43] sandervanhooft commented on #124
I’m not sure where you’re getting the id from, usually you get it from the webhook, not in the redirect. Can you share an example id string?

[2020-05-10 12:27] flowroma commented on #124
Aha yes I understand now. One gets the id from the webhook, stores it in the database and then retrieves it to show on a thank you page. Except when I look at my payments dashboard, the webhook cannot be called.
`

I have set up everything exactly as https://github.com/mollie/laravel-mollie/blob/master/docs/webhook.md

So I guess my main problem now is the webhook now

[2020-05-11 12:27] flowroma commented on #124
I will create a new issue as the current problem is not representative of the initial problem

[2020-05-11 12:27] #124 closed

[2020-05-11 12:30] flowroma opened #125 "Webhook 500 internal error"
I am getting the following message in Mollie Dashboard:
`Aanroepen webhook mislukt (Got HTTP/1.1 500 Internal Server Error instead of 20x)`

I have set up the webhook exactly as https://github.com/mollie/laravel-mollie/blob/master/docs/webhook.md

The laravel error log shows

`local.ERROR: Undefined variable: payment {"exception":"[object] (ErrorException(code: 0): Undefined variable: payment at /

[2020-05-11 12:34] Jubeki commented on #125
Could you send the code for the MollieWebhookController?

[2020-05-11 12:58] flowroma commented on #125
[code]

[2020-05-11 13:03] sandervanhooft commented on #125
[code]

should be

[code]

[2020-05-11 13:03] #125 closed

[2020-05-11 13:04] sandervanhooft commented on #125
Note that the error message was actually helpful here 😄 .

[2020-05-11 14:28] flowroma commented on #125
Damn, I thought I had copy pasted everything exactly. Stupid :(
Thanks Sander, that solved the problem!

[2020-05-11 17:51] sandervanhooft commented on #70
✅  @jubeki worked his magic into this package.

It's now possible to use the same calls as in `mollie/mollie-api-php`.

For clarity it's best to update the code samples in the documentation as well, to match Mollie's docs. @Jubeki would you be willing to take a stab at this? Otherwise I'll pick it up.

@vernondegoede could you modify the header image / provide a new one?

I don't have a source fil

[2020-05-18 07:56] sandervanhooft commented on #70
Thanks for solving this issue @jubeki, much appreciated!

[2020-05-18 07:56] #70 closed

[2020-05-25 14:54] vdvcoder opened #127 "Error executing API call (request): Unknown field: currency."
When i try local it works. and i see the mollie payment page.
When i try it online it doesn't go to the mollie page but give this error:

**Error executing API call (request): Unknown field: currency.**

[2020-05-25 15:07] Jubeki commented on #127
Could you provide a code example of what you are doing?

[2020-05-25 15:51] vdvcoder commented on #127
try {
            //Here we will do the mollie payment.
            $payment = Mollie::api()->payments()->create([
                'amount' => [
                    'currency' => "EUR",
                    'value' => (string) number_format($total, 2, '.', ' '), // You must send the correct number of decimals, thus we enforce the use of strings
                ],
                'description' => "O

[2020-05-25 17:52] Jubeki commented on #127
I don't see anything wrong even after testing for a bit.

What you could check for now would be the following:
- Which status code is returned by mollie (better would be the whole response)?
- Is the code on the server the same as the local one?

Also, could you provide information about your current environment:
- laravel
- laravel mollie
- guzzle
- php

[2020-05-28 05:55] Wulfheart commented on #76
What is the status of this?

[2020-05-28 08:08] sandervanhooft commented on #76
Unchanged. The current v2 is doing fine

[2020-06-03 06:00] timwass opened #128 "Redirect canceled payment to different redirectUrl"
Hi, I have worked with other payment providers and often there is a status parameter added to the redirectUrl so I immediately can see if I have to display a success or canceled page after the payment.

With Mollie this seems not the case, it just redirects to the redirectUrl without any additional parameters. I have tried to add the order id to the redirectUrl and check the payment status of the

[2020-06-03 07:21] sandervanhooft commented on #128
I've solved this in Spark for Mollie by - before redirecting the customer to Mollie - adding the `paymentId` to the payment's `redirectUrl`. Then I use a `RedirectFromMollieController` to check the payment's `status` using that id, and redirect to the right screen (or flash the right message).

Mollie will always call the webhook before redirecting.

Does that help?

[2020-06-03 18:35] timwass commented on #128
Adding the paymentId to the redirectUrl before redirecting the user works great, now I can check the payment status when the customer returns to the website and redirect to the right page. Thanks for the help!

[2020-06-03 18:35] #128 closed

[2020-06-07 15:50] #127 closed

[2020-06-16 05:24] webinn opened #130 "Some typos in README.md"
In the snippet under https://github.com/mollie/laravel-mollie#a-payment-using-the-mollie-api
we see some typo's:

$payment = Mollie::api()->payments->create([[  (double bracket instead of single)
redirectUrl and webhookUrl have switched routes

Just minor things :)

[2020-06-18 15:09] priya1890 opened #131 "Error Response codes"
There are no error response coded any where in the documentation and how to verify and handle failed payments in case.

[2020-06-18 15:11] sandervanhooft commented on #131
Please check out the [official documentation](https://docs.mollie.com) for these.

[2020-06-18 15:11] #131 closed

[2020-06-18 17:20] priya1890 opened #132 "Undefined property: Mollie\Laravel\Wrappers\MollieApiWrapper::$payments"
I am using the Mollie Laravel package and followed the instructions as in readme, but getting the error,

Undefined property: Mollie\Laravel\Wrappers\MollieApiWrapper::$payments

$createPayment =  mollie()->payments->create([
                    "amount" => [
                        "currency" => $currency,
                        "value" => (string)$price // You must send the correct number of de

[2020-06-18 17:30] sandervanhooft commented on #132
https://github.com/mollie/laravel-mollie/releases/tag/v2.10.0

[2020-06-29 13:24] rashidabbas7865 opened #133 "Disable refund option from User"
When I redirected to `redirectUrl` and after that I hit back button from browser, It enables the user to request for refund. Is there any way to disable this feature stop redirecting back to previous page.

[2020-06-29 14:01] sandervanhooft commented on #133
Hi,

I believe this only happens in test mode right?

[2020-06-29 14:03] rashidabbas7865 commented on #133
Yes, I'm using testmode, but not sure if same thing will happen in prod?

[2020-06-29 14:17] sandervanhooft commented on #133
AFAIK this is only in test mode. If you want to do a refund in production, you can do so in the Dashboard or using the API. Not via this route, that’s only a testing convenience.

[2020-06-29 14:17] #133 closed

[2020-06-29 14:17] sandervanhooft commented on #133
Closing this for now, let me know if it should be reopened.

[2020-06-29 14:18] rashidabbas7865 commented on #133
You can close this case. Thanks for help. I have new concern going to open new case.

[2020-06-29 14:22] rashidabbas7865 opened #134 "Failed payment redirect"
I'm using testmode and when I make a successful payment it redirects me to `redirectUrl` But when I choose a failed payment, it keeps me in loop to choose to payment option and doesn't redirect me to some custom page. I want to redirect user to a page on failed payment.  Is there a way to do this?

Thank you

[2020-06-30 08:03] JorikMollie commented on #134
Hi @rashidabbas7865,

This is not something that this integration does, but behaviour of the Mollie platform.

When you create a payment / order without a "method" parameter your customer is redirected to the method selection screen on the Mollie platform. To improve conversion, your customer can retry the payment if an attempt fails. So after a failed payment the customer is redirected to the met

[2020-06-30 08:08] rashidabbas7865 commented on #134
So you mean if I fix the payment method inside the request. Then it will not redirect to the payment method selection again?

Actually I want to redirect him to some custom url when the payment is failed.

[2020-06-30 08:38] sandervanhooft commented on #134
@rashidabbas7865 may be this is helpful to you: https://github.com/mollie/laravel-mollie/issues/128 .

[2020-06-30 08:57] rashidabbas7865 commented on #134
@sandervanhooft Thanks for the help. I will pass the payment id after creating request.

I have another questions.

as it calls webhook before `redirectUrl` so If I validate payments only in webhook is that correct and secure? I dont want to validate payments on `redirectUrl `  to make changes in db. ofcourse i have to validate for failed and paid etc. but I dont want to change database on this pa

[2020-06-30 14:50] sandervanhooft commented on #134
Correct, the webhook is the trigger to listen for in order to update the payment state in your application. The webhook is called before the customer is redirected back to your application.

[2020-07-01 15:09] ToonDG opened #135 "How to update a payment?"
According to the API docs, payments can be updated: [https://docs.mollie.com/reference/v2/payments-api/update-payment](https://docs.mollie.com/reference/v2/payments-api/update-payment)

I can't however, find out how to do it using this library.

- There is no update function in PaymentEndpoint.
- The EndpointAbstract has a REST_UPDATE constant, but no function that uses it.

Is is possible to upda

[2020-07-01 15:19] sandervanhooft commented on #135
You may be overthinking it 😉

https://docs.mollie.com/reference/v2/payments-api/update-payment#example

Closing this for now, let me know if it should be reopened.

[2020-07-01 15:19] #135 closed

[2020-07-01 15:30] ToonDG commented on #135
Thank you. I didn't see the php example in the docs.

`$payment->update();` did the trick.

[2020-07-01 16:13] sandervanhooft commented on #135
No problem, enjoy! 🕺

[2020-07-05 10:17] flowroma opened #136 "Auth::guest not working in webhook"
Hi,

I want to check that if a user books as a guest, they get a welcome email. If they are logged in, they don't get the welcome email.
So in the webhook I have the following code:

[code]
The problem is that the welcome email gets sent, even if a user is logged in. It seems the Auth::guest check gets bypassed. What am I overlooking?

(Of course, there are alternatives, but I'd like to know why t

[2020-07-05 10:26] Jubeki commented on #136
`Auth::guest()` is working as intended. The webhook is called from mollies servers, so it will always be unauthenticated in your laravel application.

You could determine the user/guest from the order which you have saved.

[2020-07-05 10:39] flowroma commented on #136
Aha yes of course, that makes sense. Thanks. I can't determine the user/guest from the order, because both are getting an account, so I'll do it before they are redirected to the confirmation page.

[2020-07-05 10:40] #136 closed

[2020-07-09 15:17] ruteeb opened #137 "openssl error"
when I open my website asp-school.nl,  the website gave me the following error message:
Unable to communicate with Mollie (35): OpenSSL SSL_connect: SSL_ERROR_SYSCALL in connection to api.mollie.nl:443 . (View: C:\inetpub\vhosts\asp-school.nl\laravel\resources\views\master2.blade.php) (View: C:\inetpub\vhosts\asp-school.nl\laravel\resources\views\master2.blade.php)

## Expected Behavior
- sometime

[2020-07-09 15:18] ruteeb commented on #137
if you attempt to refresh the page the website continues normally.
sometimes the error not appear at all for a couple of hours

[2020-07-09 15:20] sandervanhooft commented on #137
What laravel-mollie version are you using?

`composer show mollie/laravel-mollie`

[2020-07-09 15:22] ruteeb commented on #137
where can I find it, please?

[2020-07-09 15:25] sandervanhooft commented on #137
By running

`composer show mollie/laravel-mollie`

[2020-07-09 16:08] ruteeb commented on #137
name     : mollie/laravel-mollie
descrip. : Mollie API client wrapper for Laravel & Mollie Connect provider for Laravel Socialite
keywords : api, bancontact, banktransfer, belfius, belfius direct net, bitcoin, charges, creditcard, direct debit, gateway, ideal, laravel, lumen, mistercash, mollie, payment, payments, paypal,
paysafecard, podiumcadeaukaart, recurring, refunds, sepa, service, socialite

[2020-07-09 16:15] sandervanhooft commented on #137
There has been no update to this version (v1.5.1). Did you update any of the dependencies?

[2020-07-09 16:17] ruteeb commented on #137
No

On Thu, 9 Jul 2020, 18:15 Sander van Hooft, <notifications@github.com>
wrote:

[2020-07-09 16:23] sandervanhooft commented on #137
I'll check with Mollie support if this is a known issue (the open SSL message).

Meanwhile, I've checked both `mollie/laravel-mollie` and the underlying `mollie/mollie-api-php` packages, they're not initiating any calls on their own. Can you please check what is triggering these calls?

[2020-07-09 16:28] ruteeb commented on #137
If I buy from mollie it is normal. Did you mean that?

[2020-07-09 16:32] sandervanhooft commented on #137
I meant this:

@ruteeb [wrote](https://github.com/mollie/laravel-mollie/issues/137#issue-654144045):

The package will not call Mollie's API without being triggered by your app. So make sure you know what is triggering these calls when you're not preparing a payment.

Also, for security reasons, consider updating your Laravel installation. Laravel v5.2 went out of security support [a long time  ag

[2020-07-09 16:53] ruteeb commented on #137
there is no trigger when I open home page for example
so I am really confused about that

[2020-07-09 16:53] ruteeb commented on #137
I hope that you can help me in that

[2020-07-09 17:17] priya1890 commented on #132
@sandervanhooft thank you for your response. I am using Laravel version 5.5, so the release version v2.10.0 is not compatible to the laravel version am using. Can u help with this?

[2020-07-09 18:10] sandervanhooft commented on #132
You can either upgrade to a newer Laravel version, or use this instead:

`$createPayment = mollie()->payments()->create(/*...*/);`

Note the added `()` behind `payments`.

[2020-07-09 19:42] sandervanhooft commented on #137
The 35 OPEN SSL error is usually caused by an outdated cURL installation. Can you update cURL?

[2020-07-09 19:42] sandervanhooft commented on #134
Closing this for now, let me know if it should be reopened.

[2020-07-09 19:42] #134 closed

[2020-07-09 19:43] sandervanhooft commented on #123
Closing this for now, let me know if it should be reopened.

[2020-07-09 19:43] #123 closed

[2020-07-09 20:06] ruteeb commented on #137
I did not understand you totally, would you please give me a reference how to update curl?

[2020-07-09 20:07] ruteeb commented on #137
I did search using google but i did not find how to update it

[2020-07-10 06:06] ruteeb commented on #137
yes thank you I have a solution

[2020-07-10 06:06] #137 closed

[2020-07-10 07:15] sandervanhooft commented on #137
Great, enjoy!

[2020-07-10 07:52] rashidabbas7865 commented on #134
Sure Thanks.

[2020-07-10 13:09] gabzon opened #138 "The webhook URL is invalid because it is unreachable from Mollie's point of view"
Hello,

I was testing Mollie in local. I was following the given example, but when I try to call mollie using the webhookUrl, I get this error:

Error executing API call (422: Unprocessable Entity): The webhook URL is invalid because it is unreachable from Mollie's point of view

Do I need to configure a local point for testing in Mollies Dashboard? Any ideas?
Thanks

[2020-07-10 13:21] sandervanhooft commented on #138
Use ngrok or expose

[2020-07-13 11:38] gabzon commented on #138
You mean this [expose](https://beyondco.de/docs/expose/introduction) ?

https://dancefloor.sharedwithexpose.com

[2020-07-13 11:53] sandervanhooft commented on #138
Yes. You'll need to [enable SSL](https://beyondco.de/docs/expose/server/ssl).

If you have a working `valet` installation, that could be simpler. I.e.

[code]

[2020-07-13 12:13] gabzon commented on #138
Ok I followed your instructions (never done this before)

I ran valet link, secure, and share

I got this on the terminal

`ngrok by @inconshreveable                                                                                                                                                       (Ctrl+C to quit)

Session Status                online
Session Expires               7 hours, 54 min

[2020-07-13 12:28] sandervanhooft commented on #138
Use either `valet` or `expose`, not both.

When using `valet`, make sure to set the `ngrok` provided url in your `.env`.

[2020-07-13 12:41] gabzon commented on #138
Ok!

First of all, thank you for your patience.

`So I ran again valet share --region=eu`

and I added this to the .env
[code]
is this correct?

[2020-07-13 12:42] sandervanhooft commented on #138
Oh sorry, I meant `APP_URL=https://your-ngrok-url-here.io`

[2020-07-13 12:48] gabzon commented on #138
Done

https://2dcde7ca4a21.eu.ngrok.io

Actually every time I'm exiting and running again valet share, I don't dont know if it is necessary or if it is done realtime

[2020-07-13 13:06] sandervanhooft commented on #138
You can leave it open (otherwise you'll need to update your `.env` every time, valet generates a new url on each start)

[2020-07-13 13:06] sandervanhooft commented on #138
Mollie should be able to reach your webhook now.

[2020-07-13 13:16] gabzon commented on #138
Still nothing :( I'm getting

[code]

Maybe I did something wrong have someI have this:

[code]
and another class

[code]

[2020-07-13 13:31] gabzon commented on #138
Ok sorry I think I misunderstood you.

it works on https://2dcde7ca4a21.eu.ngrok.io not on my local

I didnt understand that part. Just to be sure of what I'm doing. It might not be Laravel related but ngrok, once I close the terminal and closes the connection will I lose this or because I added this url to the APP_URL it will always use this a main url for testing?

[2020-07-13 13:50] sandervanhooft commented on #138
Ngrok creates a tunnel from the ngrok url to your local machine. The tunnel is gone as soon you close ngrok.

[2020-07-13 13:51] sandervanhooft commented on #138
Note that an approach like this is for local development only. No need to set up a tunnel once you've deployed your app on a server.

[2020-07-13 13:57] gabzon commented on #138
Ok good to know!
Thank you so much for your help @sandervanhooft

[2020-07-13 13:57] #138 closed

[2020-07-13 14:00] sandervanhooft commented on #138
No problem, enjoy!

[2020-07-14 10:23] priya1890 commented on #132
@sandervanhooft Thank you so much, $createPayment = mollie()->payments()->create(/*...*/); worked for me.

[2020-07-14 10:28] sandervanhooft commented on #132
Enjoy!

[2020-07-14 10:28] #132 closed

[2020-07-19 19:01] valeksa opened #139 "Problem installing Laravel Mollie in Laravel 7.8.1 version"
## Expected Behavior
composer require mollie/laravel-mollie:^2.0
shuold install mollie laravel package

## Current Behavior
The composer returns following:

*****************
composer require mollie/laravel-mollie:^2.0

./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an

[2020-07-19 19:14] sandervanhooft commented on #139
Thanks for reporting. Can you share your composer.json file?

[2020-07-19 19:42] valeksa commented on #139
Thanks for reply.

Here it is. I put txt extension.

[composer.json.txt](https://github.com/mollie/laravel-mollie/files/4944502/composer.json.txt)

[2020-07-20 10:16] sandervanhooft commented on #139
From what I can tell there shouldn't be a dependency collision...

Can you try this?

0. Backup / (git commit)
1. Remove the `vendor` directory and `composer.lock` file
2. Add `"mollie/laravel-mollie" : "^2.10"` to the `composer.json`'s `require` section
3. `composer install`

[2020-07-20 20:29] valeksa commented on #139
I have try with

composer require mollie/laravel-mollie:^21.0

with success.

Thanks for quick answers.

[2020-07-20 20:29] #139 closed

[2020-07-29 15:56] m-bosch opened #140 "guzzlehttp/guzzle version ^7.0 support"
the underlaying package `mollie/mollie-api-php` requires "guzzlehttp/guzzle": "^6.3" instead of the later "guzzlehttp/guzzle": "^7.0" what other packages in our Laravel project required. This conflicts and for this reason we cant use this package at the moment.

[2020-07-29 16:12] sandervanhooft commented on #140
Closing this here, will handle issue on `mollie-api-php`.

[2020-07-29 16:12] #140 closed

[2020-08-03 07:39] Sharifur opened #141 "Get error while trying to test mollie payment api"
Mollie\Api\Exceptions\ApiException
Error executing API call (422: Unprocessable Entity): No suitable payment methods found. Documentation: https://docs.mollie.com/guides/handling-errors

[2020-08-03 07:50] Sharifur commented on #141
To resolve this issue you have to  activate the payment method you have to go settings -> website profile, then under the website profile, you can see the payment methods. You have to activate them.

[2020-08-03 07:50] #141 closed

[2020-08-07 07:07] jesse-dijkstra opened #142 "Redirect url called twice in the same second"
We are sending the order confirmation mail job and order job from the controller that is
connected to the redirect url. Normally every job in the controller is carried out once.
But this time the jobs were carried out twice. This couldn't be possible with a refresh
because we added checks, this is also the first time it happend in like 40 orders.
![4807873afeeb452f51cf5c03e52d631e](https://user-im

[2020-08-07 08:26] sandervanhooft commented on #142
What's the Mollie dashboard showing for the webhook call responses?

[2020-08-07 08:31] jesse-dijkstra commented on #142
Webhook called successfully, it took 0.2 seconds.

This is the response from the customer service:
The webhook is only triggered once. However I see that the status open has been created twice.

[2020-08-07 11:22] sandervanhooft commented on #142
Seems like something on Mollie's end. I'll ask around.

[2020-08-07 11:25] sandervanhooft commented on #142
Scratch that. Rereading this: why are you depending on the `redirectUrl` for the order confirmation mail and order job to be sent?

That should depend on the webhookUrl, when the payment has reached status paid.

[2020-08-07 11:44] jesse-dijkstra commented on #142
this is because we use the redirectUrl to determine if the user should see the succes page or if not paid succesfully redirected back to pay again. We should move the jobs indeed to the webhook, but isn't it still odd that te redirectUrl is called twice?

[2020-08-07 12:02] sandervanhooft commented on #142
From Mollie's end the user is redirected (once) from the checkout. Not much to check what's happening after that.

What I personally do is use a `RedirectFromMollie` controller (and route), that checks the payment status before internally redirecting the customer to the right page within my app. Works great.

[2020-08-07 12:22] jesse-dijkstra commented on #142
so in the controller you have something like this?

     if ($payment->isPaid() || $payment->isAuthorized()) {
            $notification = array('message' => 'Betaling in afwachting', 'alert-type' => 'success');
            $route = $this->routePaymentSucces;
        }
        else{
            $notification = array('message' => 'Betaling mislukt, probeer het nog eens', 'alert-type' => 'danger');

[2020-08-07 14:00] sandervanhooft commented on #142
👍  Yes something like that.

The trick with the payment id...

When _creating_ the payment, you receive the payment id. Right before redirecting the customer to Mollie, add that id to the redirectUrl, then update the payment, then redirect the user to Mollie's checkout.

You'll now have the payment id in the RedirectFromMollieController.

[2020-08-07 14:02] sandervanhooft commented on #142
[code]

[2020-08-07 14:05] jesse-dijkstra commented on #142
that's really clever, thank you so much for the help!

[2020-08-07 14:05] #142 closed

[2020-08-07 14:37] sandervanhooft commented on #142
🤓

No problem, enjoy! 🎉

[2020-08-07 21:57] flymke commented on #96
I had the same issue. I created a new mollie tes api key and changed that in my application --> that seemed to solve the issue. Not sure if this counts to anybody but might be worth a try. ✌️

[2020-08-10 13:59] jesse-dijkstra opened #143 "Can't update order redirectUrl"
I'm trying to update the redirectUrl from a Mollie order, with the following code:

      $mollieOrder = Mollie::api()->orders()->get($mollieOrder->id);
      $mollieOrder->redirectUrl = $mollieOrder->redirectUrl . '?m_order_id=' . $mollieOrder->id;
      $mollieOrder->update();

When I data dump $mollieOrder it shows the updated redirectUrl but when I recall the order like this
Mollie::api()->ord

[2020-08-10 14:11] sandervanhooft commented on #143
Can you try updating it on the order's payment instead of on the order resource?

[2020-08-10 14:32] jesse-dijkstra commented on #143
In this case I can only use the Orders API because Klarna Pay later isn't supporting Payments API

[2020-08-10 14:43] sandervanhooft commented on #143
yes, but you can retrieve the payment of the order's underlying payment

[2020-08-10 15:00] jesse-dijkstra commented on #143
do you have an example?

[2020-08-10 18:29] sandervanhooft commented on #143
I've found the issue. You're right, it should be possible directly on the Order resource. The mollie-api-client is not supporting this yet. I'll fix this this week.

[2020-08-11 07:53] sandervanhooft commented on #143
Hi @jesse-dijkstra ,

I've just released a fix on `mollie-api-php`. Running `composer update` should pull in the update.

https://github.com/mollie/mollie-api-php/releases/tag/v2.22.0

[2020-08-11 07:53] #143 closed

[2020-08-11 12:02] jesse-dijkstra opened #144 "webhookUrl is not saved in mollie dashboard when creating mollie order"
The webhookUrl is shown in the Mollie order resource but not in the Mollie dashboard. Therefore Mollie isn't calling the webhook.
The documentation states the following : The Orders API invokes a webhook when an order reaches paid or authorized status

The Order resource status is not being updated aswell. example: the order status in Mollie dashboard is : Canceled while the status in the order re

[2020-08-11 12:46] sandervanhooft commented on #144
can you share the calls you are making, and a screenshot of the dashboard?

[2020-08-11 13:23] jesse-dijkstra commented on #144
first i'm calling the Mollie::api()->orders->create() and when I data dump Mollie::api()->orders()->get() after the create it shows that the webhookUrl is set but in the dashboard it shows only this information:
![5e7025a1a7a7fd9bdcaf124a44f2015d](https://user-images.githubusercontent.com/10731323/89902106-513af200-dbe6-11ea-8a39-e600138e667e.png)

Then in test mode when I set the status to cancel

[2020-08-11 13:45] sandervanhooft commented on #144
The `webhookUrl` is part of the Order, the Dashboard screenshot is a Payment.

[2020-08-11 13:50] jesse-dijkstra commented on #144
shouldn't the webhookUrl still be set from Mollie::api()->orders->create() ?

[2020-08-11 14:03] sandervanhooft commented on #144
There's two webhookUrls. One is set on the Order (when you create it), the other one is set on the Payment (you can pass it in when you create the Order, or update it on the Payment).

Can you try this?

[code]

[2020-08-11 15:08] jesse-dijkstra commented on #144
Thank you very much for clearing this up, now I complete understand the flow between the order and the payment.

[code]

this did the trick

I have one question left, in the order resource the webhook url is set for the order,
but the webhook url isn't in the order resume in the Mollie dashboard
![4343](https://user-images.githubusercontent.com/10731323/89914154-e513ba80-dbf4-11ea-9280-13f76137cd5

[2020-08-11 15:42] sandervanhooft commented on #144
`dd($order->webhookUrl);` ?

[2020-08-11 15:46] jesse-dijkstra commented on #144
this returns the order webhookUrl that I set as expected

[2020-08-11 15:50] sandervanhooft commented on #144
👍 so functionally it works, but it's not noticeable in the dashboard.

I'll let Mollie support know, and close this issue. Thanks!

[2020-08-11 15:50] #144 closed

[2020-08-12 09:45] jesse-dijkstra opened #145 "sometimes RedirectFromMollie controller isn't triggered in Ngrok"
##  Expected Behavior
Redirect to the success or failed page

## Current Behavior
Sometimes in test mode I'm not redirected in the RedirectFromMollie controller.
In this situation the current url matches the RedirectFromMollie route url but nothing happens.
The screen stays blank until I do a refresh, then everything works as it should and I get redirected to
the success or failed page.

## Contex

[2020-08-12 09:58] sandervanhooft commented on #145
ngrok imposes a throttle limit on the amount of calls. I suspect this to be the cause (ran into this myself a few times). You can significantly increase the threshold if you sign up for a free account.

Alternatively, try [Expose](https://beyondco.de/docs/expose/introduction) instead of ngrok.

[2020-08-12 10:13] jesse-dijkstra commented on #145
Thank you very much for clearing this up, I will give Expose a try

[2020-08-12 10:13] #145 closed

[2020-08-26 13:32] elmegaito opened #146 "paypal payment method not showing on checkout page"
Hi everyone,
I followed the instructions to make a one-time payment with Mollie (and it works). In the Mollie dashboard I have activated the Paypal payment method as well as credit card, but the Paypal payment method does not appear on the checkout page (and that is the issue). I contacted the technical support of Mollie and Paypal and they said the connection between Mollie and Paypal is ok. Ther

[2020-08-26 14:23] sandervanhooft commented on #146
Can you share your code?

[2020-08-26 14:35] elmegaito commented on #146
Hi,
here the code of the controller method (i removed some app specific code that is not of interest, like the redirect routes)
[code]
Thank you

[2020-08-26 19:03] sandervanhooft commented on #146
Did you confirm with Mollie support that your account is correctly set-up with PayPal for **_recurring_** payments, not only one-offs?

[2020-08-27 08:09] elmegaito commented on #146
Hi, after your message I requested PayPal support to enable recurring payments as you suggested. I thought it wasn't necessary for one-time payments. When they will enable it, I will try to pay again to see if paypal finally shows up between the valid  payment methods.
Thank you for your support!

[2020-08-27 08:54] sandervanhooft commented on #146
No problem. I expect this will do the trick. I'll close the issue for now, let me know if it should be reopened.

[2020-08-27 08:54] #146 closed

[2020-08-30 08:29] jesse-dijkstra opened #147 "Mollie payment shows wrong status"
I have this is issue with the following situation: A customer made a payment with Paypal so the status went to paid as aspected. Later the customer chargebacked the payment and it shows the correct payments status in Mollie dashboard, but in the Mollie payments resource it still show 'paid' instead of 'chargeback'

[2020-08-30 08:43] sandervanhooft commented on #147
This is actually correct behavior.

[2020-08-30 08:43] #147 closed

[2020-08-30 09:17] jesse-dijkstra commented on #147
How can I see it's a chargeback in the payments resource + the webhook gets triggered twice in the paid statement when the status stays the same in this situation

[2020-08-30 13:02] sandervanhooft commented on #147
I agree it's not an ideal situation.

You can check the chargebackAmount to see if there's a chargeback.

Regarding the webhook, I'm thinking of updating it once the payment has reached status paid to avoid double processing etc..

I.e. change it into webhooks/mollie/payments/_aftercare_ and use a dedicated AftercareController.

Note that multiple chargebacks and refunds can occur after the status

[2020-08-30 17:05] jesse-dijkstra commented on #147
Thank you very much for your response, I found out that can get the chargeback with the payment resource like this:

[code]

this way you can if a payment has a chargeback and avoid double processing and for example save the chargeback info.

[2020-08-31 12:30] elmegaito commented on #146
Hi, paypal said that they have activated recurrent payment (for the sandbox account for now), but i still cant see paypal on the available payment methods and if "force paypal method"  with the following code
[code]
i will get the error in the image.

![errore_laravel](https://user-images.githubusercontent.com/70273284/91718220-421ae480-eb93-11ea-9a62-02a7f8690f87.png)

So i think i have a bad con

[2020-08-31 12:37] sandervanhooft commented on #146
This is something in the configuration of PayPal/Mollie, not your app. Best to contact Mollie support if you have set up PayPal recurring correctly now. Note that it also may take some time before the changes at PayPal are visible to Mollie. But I don't think that should take longer than 24h.

[2020-09-09 06:46] voicecode-bv opened #148 "Unknown parameter profileId when creating payment with application fee."
According to the Mollie documentation we should add a profileId when creating a payment with application fee enabled. When adding this parameters an error is thrown. Am I missing something here? The application fee has been enabled for my account.

[code]

[code]

[2020-09-10 11:00] MollieRick commented on #148
Hi @voicecode-bv ,

This is only possible with an OAuth Token, not an API Key. What kind of key do you use?

[2020-09-10 11:45] voicecode-bv commented on #148
Hi @MollieRick,

Thanks for pointing me in the right direction. I'm using the API key, so I'll give OAuth a try. 👍🏼

[2020-09-10 11:48] MollieRick commented on #148
Good to hear. Feel free to reopen this issue if you have any other troubles :-)

[2020-09-10 11:48] #148 closed

[2020-09-21 20:34] HarryLee186 opened #149 "Losing checkout link in get() response when using przelewy24 payment method"
When using the przelewy24 payment method, the checkout link that is returned in the API response is null

## Expected Behavior
The checkout link should return correctly, such as:
![image](https://user-images.githubusercontent.com/34167106/93817789-5bbec180-fc51-11ea-9e5e-41ff86adc319.png)

## Current Behavior
The checkout link is null, shown below:
![image](https://user-images.githubusercontent.co

[2020-09-22 08:53] sandervanhooft commented on #149
That's strange. I've asked Mollie support to look into this.

[2020-09-22 11:32] sandervanhooft commented on #149
What is the status of the payment?

[2020-09-22 11:35] sandervanhooft commented on #149
The checkoutUrl will only be available on net-yet-paid-payments, so status `open`.

[2020-09-22 11:36] HarryLee186 commented on #149
This is before getting to the payment screen, using the code snippet from this repo's readme. So yes I would imagine the payment status would be open(this snippet works perfectly with other methods as outlined in my issue)

[2020-09-22 13:34] sandervanhooft commented on #149
This behaviour is a bit weird, but if you remove this obsolete line it works:

[code]

[2020-09-22 13:39] sandervanhooft commented on #149
I'll ask Mollie support if they can fix this in the api. Nice catch!

Closing this for now, let me know if it should be reopened.

[2020-09-22 13:48] #149 closed

[2020-09-22 13:49] sandervanhooft commented on #130
I don't see them, but feel free to send in a PR :).

[2020-09-22 13:49] #130 closed

[2020-09-22 13:53] webinn commented on #130
somebody already fixed them, but no worries ;) thanks for your work!

[2020-09-22 19:08] salman15 opened #150 "Mollie Connect | Authorization code doesn't exist or is invalid for the client"
I've added followed the steps on [https://docs.mollie.com/oauth/overview](url) and on mollie connect documentation and I've connected my laravel 7 app to mollie with my `redirect_url, client_id and client_secret`. However the code I get back in the `redirect_login` doesn't seem to authenticate when I make a post request from `https://api.mollie.com/oauth2/tokens`.

## Expected Behavior
I expect th

[2020-09-28 14:06] sandervanhooft commented on #150
Thanks for reporting this. Let me try and reproduce the error here.

[2020-09-28 14:31] sandervanhooft commented on #150
Can you share a code example which triggers this error?

[2020-10-23 07:18] Heesel opened #151 "So im using laravel 7.28.4 and i want to use mollie so i ran the command ''composer require mollie/laravel-mollie:^2.0" but it says that it's not available for laravel 7.28.4. The supported versions are laravel 5 version. Is there another way i can use mollie in laravel?"
a

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or mobile):
* Link to your project:

[2020-10-27 11:47] samratshamim opened #152 "Wrong example"
`use Mollie\Laravel\Facades\Mollie;

public function preparePayment()
{
    $payment = Mollie::api()->payments->create([

     // The above line should be $payment = Mollie::api()->payments()->create([

        "amount" => [
            "currency" => "EUR",
            "value" => "10.00" // You must send the correct number of decimals, thus we enforce the use of strings
        ],
        "descrip

[2020-10-27 11:52] sandervanhooft commented on #152
Both work.

[2020-10-27 11:52] #152 closed

[2020-10-29 13:01] joostvanhoof commented on #76
Any plans on events instead of webhooks and a Nova package? Would love to use both!

[2020-11-17 18:18] VoordeMensen opened #153 "setAccessToken fails when MOLLIE_KEY is set"
OAuth authentication fails when MOLLIE_KEY env is set, because the constructor of the MollieApiWrapper invokes setApiKey:

`$this->setApiKey($this->config->get('mollie.key'));`

I think this is unexpected behavior: I work in a mixed environment both using Mollie API keys and OAuth - when calling setAccessToken I think the wrapper should ignore the mollie.key-config / MOLLIE_KEY-env setting.

I wou

[2020-11-17 19:50] sandervanhooft commented on #153
The primary benefit of this wrapper is that the auth config is wired up and ready to go. If you need switching on the fly between keys and tokens etc using the mollie-api-php sdk directly is a better choice.

[2020-11-17 19:51] #153 closed

[2020-11-17 20:05] sandervanhooft commented on #151
V2 has been tested to support Laravel 6, 7 and 8 - based on the information provided I cannot tell what is causing the issue with your installation.

[2020-11-17 20:06] #151 closed

[2020-11-17 20:06] #150 closed

[2020-11-17 20:08] sandervanhooft commented on #76
There is a community webhook package.

This package will remain a wrapper around mollie-api-php. For more bells and whistles, I am working on laravel/cashier-mollie v2 (TBA).

[2020-11-17 20:08] #71 closed

[2020-11-18 17:55] EricKarijo opened #154 "No parameters on RedirectUrl and WebhookUrl not called"
public function createMolliePayment( Order $order ) {

        // TODO: get restaurant api key here..

        Mollie::api()->setApiKey( "test_keyjdhfkjdhfkjdfdjs" );

        $restorant = Restorant::findOrFail($order->restorant_id);

        $ord_total = sprintf("%.2f", floatval($order->delivery_price + $order->order_price + $order->static_fee ));

        $oid = "cca_" . time();
        $payment

[2020-11-18 19:03] sandervanhooft commented on #154
Try

`$id = request->input('id');`

[2020-11-25 01:05] EricKarijo commented on #154
Hi Sander,
Does not work with $id = $request->input('id');
Cause we are not in a form.

I found another way to handle.

I'm closing this issue

[2020-11-25 01:05] #154 closed

[2020-11-25 01:12] EricKarijo opened #155 "Mollie::api()->profiles()->create returns empty screen."
trying to create a profile when customer does not have one already by calling this:

              Mollie::api()->setAccessToken($token);

             $profile = Mollie::api()->profiles()->create([
                    "name"          => $current_user->restorant->name,
                    "website"       => "https://www.afhaal.nu",
                    "email"         => $current_user->email,

[2020-11-25 08:14] sandervanhooft commented on #155
Hi @EricKarijo,

Can you check that both the `profiles.read` and `profiles.write` oauth scopes are enabled for your app token?

https://docs.mollie.com/oauth/permissions

[2020-11-25 11:15] EricKarijo commented on #155
hi @sandervanhooft , seems it's our part which was not working.
Thanks btw.
I will close this issue.

[2020-11-25 11:15] #155 closed

[2020-11-30 15:14] jnoordsij opened #157 "Support for PHP8"
[PHP8](https://www.php.net/releases/8.0/en.php) has been released. Currently `composer.json` in this project does not support it.

## Expected Behavior

PHP8 supported by this project.

## Current Behavior

Composer does not allow installing this as dependency on projects with php version `"php": "^8.0"`.

[2020-12-01 11:47] sandervanhooft commented on #157
We'll need to fix this on `mollie/mollie-api-php` first.

After that this package is ready to be released with php8 support.

[2020-12-04 12:33] ciungulete commented on #157
@sandervanhooft , this is closed by #159

[2020-12-04 12:34] sandervanhooft commented on #157
@ciungulete True! Thanks!

[2020-12-04 12:34] #157 closed

[2020-12-04 13:50] jnoordsij commented on #157
Great, thanks for fixing this!

[2020-12-17 17:09] bureaug opened #161 "Updating (patching) a subscription is not available?"
Trying to update a subscription but there seems no method in SubscriptionEndpoint for updating/patching an existing subscription?

## Expected Behavior
As with getting a subscription data like this:
[code]

one would expect that this would also be available:

`$subscription = $customer->updateSubscription($payment->subscriptionId, $payload);
`

or
[code]

## Current Behavior
no endpoint is provide

[2020-12-17 17:42] #161 closed

[2021-01-09 23:50] JortJacobs opened #162 "ReflectionException: Class mollie.api does not exist in (Issue on live server, not on localhost)"
## Expected Behavior
Mollie should work out of the box on my live server, as it does on my localhost test environment.

## Current Behavior
I run into the following error:
ERROR: ReflectionException: Class mollie.api does not exist in /home/deb114015/domains/examify.nl/public_html/vendor/laravel/framework/src/Illuminate/Container/Container.php:752

## Possible Solution
Might it be related to case

[2021-01-10 00:08] JortJacobs commented on #162
Solved it. The storage/framework/packages.php file was not updated yet on the server.
Therefore, giving:

php artisan package:discover

did the job.

[2021-01-10 00:08] #162 closed

[2021-01-16 12:26] e-defix opened #163 "Missing profileMethods function in MollieApiWrapper"
The function profileMethods is missing in MollieApiWrapper.php.

Please add this function.

[2021-01-18 13:09] sandervanhooft commented on #163
Good catch, we'll look at it.

[2021-01-19 16:51] e-defix commented on #163
When will this be merged? I'm waiting for this merge for my integration with Mollie Connect

[2021-01-19 19:28] #163 closed

[2021-01-19 19:30] sandervanhooft commented on #163
Available on 2.14.0. Thanks for noticing.

[2021-02-12 11:05] christoph-werker opened #165 "It there any Way to get the Refund with the RefundToken?"
I am wondering if there is any way to get the Refund or Payment with the RefundToken beginning with *re_123123123*?
I am working on the Accounting for my company and i got only the RefundToken with the RefundToken for transactions but no more information...

[2021-02-12 11:46] sandervanhooft commented on #165
Unfortunately you'll need both the `paymentId` and the `refundId` ([docs](https://docs.mollie.com/reference/v2/refunds-api/get-refund#example)).

Optionally you can [paginate](https://docs.mollie.com/reference/v2/refunds-api/list-refunds#example) through all refunds across all payments and build a lookup table locally.

[2021-02-12 11:46] #165 closed

[2021-03-01 10:32] tnf20 opened #166 "Not getting into the webhook/500"
Hi there,

I have a little problem with getting into the webhook. I also want to make changes to my database when the payment isPaid after the payment.

## Current Behavior
In my Mollie dashboard I can see that the webhook URL is called but getting a 500 error message.
![dash](https://user-images.githubusercontent.com/79840351/109484585-e5847d80-7a80-11eb-881d-b29f3b1f2f74.jpg)

## Steps to Reprod

[2021-03-01 10:39] sandervanhooft commented on #166
This error happens when there's an error in the code handling the webhook. Best place to start debugging in this case are your Laravel logs.

[2021-03-01 11:29] #166 closed

[2021-03-01 12:53] tnf20 commented on #166
Hi Sander, thanks for your response.

There is nothing inside my Laravel logs that has anything in common with the payment process.

[2021-03-01 13:49] tnf20 commented on #166
Found the problem.

[code]

If I use this in the public function handle it's returns the 500 error.

[2021-03-01 15:12] sandervanhooft commented on #166
This line seems to be the issue:

$order = Order::findOrFail($order->id);

Should be:

$order = Order::findOrFail($payment->id);

Or something like that, depending on how you store your orders.

[2021-03-02 09:07] tnf20 commented on #166
This is how I store the orders:
![image](https://user-images.githubusercontent.com/79840351/109624850-f3003d00-7b3e-11eb-9ea5-3bc35b9e1dfd.png)

So I think using $order->id should be the right way. If I use payment->id I get a 404 in return from the webhook.

[2021-03-02 09:22] Jubeki commented on #166
You use $order->id before you fetched the Order from the database. This means you are accessing a not existing variable.

`$order = Order::findOrFail($payment->id);`
this uses instead the payment id.
findOrFail will look at the `id` column but I think you want to look at the `payment_id` column in which you reference the payment id.

[2021-03-02 10:39] tnf20 commented on #166
I'm not saving the payment_id to the database. Could that be the problem?

[2021-03-03 16:56] tnf20 commented on #166
Made some changes to my database. Payment_id is now saved in my database. I also changed the handle function.

[code]

Now is the webhook called successfully. The only problem left is that the $statusOfPayment is not being saved to the database. If I use 'id' instead of 'payment_id' I get 500 in response from the webhook.

![image](https://user-images.githubusercontent.com/79840351/109841756-a7868

[2021-03-22 09:43] boryn opened #167 "How to set the test mode while making OAuth payment?"
I use the test .env MOLLIE_KEY beginning with 'test_', but it's not enough while doing authentication through OAuth - it's necessary to pass the 'testmode' parameter. I can see in the code:
[code]
but how to set the `$this->mode`? There is no `setMode()` method and while issuing:
[code]

there is no place to set the mode either.

[2021-03-22 14:55] sandervanhooft commented on #167
**Please note**
For normal webshop integrations, you will not need OAuth and it's far easier to use the default authentication - using keys. If this is the case, you simply use the `test_` key for testing interactions with Mollie and swap it out when you're ready to go live.

If you however have more advanced use cases and/or need to act on behalf of other Mollie accounts, you will need OAuth.

**

[2021-03-22 14:55] #167 closed

[2021-03-23 07:24] boryn commented on #167
Thank you for your reply!

This is the application which already uses OAuth. We are implementing some new features and wanted to use the test environment.

Passing `"testmode" => true,` to `Mollie::api()->payments->create()` helped! (I suggest adding this example to the documentation, I could not figure it out).

[2021-03-24 08:37] boryn commented on #167
If you stumble upon this thread, here it is how to pass the testmode to the get() method:
[code]

In case you get error, check if you had set the access token above:
[code]

[2021-03-24 08:50] boryn opened #168 "Exchange rates for multicurrency"
Let's say I accept the payment in GBP. Later I'm able to fetch the settlement amount in EUR.

But what if I needed to express the paid amount in NOK? The conversion could be done at the moment of querying it, not necessarily at the date of the payment. It is needed to display approximate amounts in any other supported currency.

Does Mollie offer any exchange rate method before we create the payme

[2021-03-24 09:06] sandervanhooft commented on #168
Mollie does not support conversion _calculations_ as a service. This is best handled in your app, as cases like these are super specific to your business.

[2021-03-24 09:06] #168 closed

[2021-05-07 15:31] ralphjsmit opened #170 "Could you advice me on importing recurring subscriptions?"
Hey,

Thanks for maintaining this Mollie client.

I'm doing some research about moving existing subscriptions to the Laravel client and I need a bit of advice. It'd be great if you could tell me if the situation described is possible and if I understood everything correctly.

### Current situation
Let me first explain the current situation. Our company in IT-help offers customers the option to sub

[2021-05-07 15:37] sandervanhooft commented on #170
Hi @ralphjsmit Why not port it over to [cashier mollie](https://github.com/laravel/cashier-mollie) instead?

[2021-05-07 16:00] ralphjsmit commented on #170
Hey Sander, thanks for your fast reply.

I considered that, but a custom solution seemed simpler. But perhaps you're right.

Though that still leaves me with a few questions:

1. If I want to import current subscriptions with the Cashier package, how would you do that? I mean, when you create a subscription, how do you prevent Mollie from immediately charging money, whilst the subscription could s

[2021-05-10 07:31] sandervanhooft commented on #170
First of all, please note that I don't know how WooCommerce handles the subscriptions.

I.e. Cashier Mollie does **not** use Mollie's subscription API, but uses the Payments API and handles the scheduling logic within the package. This gives more flexibility. If WooCommerce uses the Subscriptions API, you'll need to stop the Subscription when Cashier takes over.

A few steps:

1. Cashier Mollie us

[2021-05-10 07:31] sandervanhooft commented on #170
Closing this for now, let me know if it should be reopened.

[2021-05-10 07:31] #170 closed, assigned to nobody

[2021-05-25 14:27] XavegX367 opened #171 "Not able to get into webhook"
I am trying to check my payments by using the webhook, but I don't know how to make it work since I am very new to webhooks. The website itself is a live website, so it is not local or anything

Here is the error in Mollie:
![image](https://user-images.githubusercontent.com/76949970/119514486-592ee180-bd75-11eb-9eec-0bd8e27fadca.png)

Here is my MollieController:
![image](https://user-images.githu

[2021-05-25 14:47] Jubeki commented on #171
Could you please share the error which you can find in your log files?

[2021-05-25 14:51] Jubeki commented on #171
Also you should probably put the webhook Route into the `api` middleware group instead of `web`.
Because Laravel will try to check the csrf-Token on a post request in the web group.
You could also ignore the path in the Middleware `app/Http/Middleware/VerifyCsrfToken.php`

[2021-05-25 17:43] XavegX367 commented on #171
I am already ignoring the webhook as shown in the screen below
![image](https://user-images.githubusercontent.com/76949970/119543587-1975f300-bd91-11eb-89a3-0cb99f07feeb.png)

When looking at the logs, I am only able to find 1 error and I am not sure if it has something to do with Mollie

But this is the error:

If this is not the error, that I should post please tell me what I should be looking f

[2021-05-25 18:15] Jubeki commented on #171
Do you import `Illuminate\Http\Request` or `GuzzleHttp\Psr7\Request`.
Otherwise I have no clue right now. Maybe @sandervanhooft can help you.

[2021-05-25 18:50] sandervanhooft commented on #171
Jubeki is asking the right question.

Also, what version are you using of:

- mollie/mollie-api-php
- mollie/laravel-mollie

? You can use `composer show <vendor/package-name>` to retrieve local package information.

[2021-05-25 19:48] XavegX367 commented on #171
Oh my bad haha, thanks! I was indeed using the 'GuzzleHttp\Psr7\Request' I changed it and now it works!
![image](https://user-images.githubusercontent.com/76949970/119559380-de7cbb00-bda2-11eb-82b1-8c1db2abc6be.png)

Thank you both for the quick reactions and the help!

[2021-05-25 19:48] #171 closed

[2021-06-16 07:51] nakigami opened #172 "Webhook failed with a 405 status"
Hi everyone,
I created a webhook to send an email of a specific order, and the webhook executes perfectly but the problem is that mollie sends a reccurrent request to the same webhook which send the email multiple times :(
PS : I already added the route in VerifyCsrfToken.php to except it from the CSRF token verification process.

## Expected Behavior
The webhook should be executed one time

## Cu

[2021-06-16 10:57] sandervanhooft commented on #172
There's multiple events for which the webhook can get called (paid, canceled, failed, refund performed, refund failed, chargeback received). This also means that a webhook can get called multiple times on a single payment.

Best is to check what actually happened (Mollie unfortunately offers no easy way for this yet), and optionally keep track of what emails were sent already.

A trick I often use

[2021-06-16 10:57] #172 closed

[2021-06-16 14:27] nakigami commented on #172
Thanks for your fast resply first, honestly it was my fault i didn't saw in the doc that i should return a 200 status, that's why now i return a status of 200 and i added a flag column to my table and after the first email sending operation i change the flag value ;) and now even if Mollie sends multiple requests to the webhook the email is not be sent again.

[2021-06-16 21:36] sandervanhooft commented on #172
Great, thanks for following up. Enjoy!

[2021-06-22 09:49] dees040 opened #173 "Unable to provide profileId in requestApplePayPaymentSession()"
## Expected Behavior
In the documentation of [requesting an Apple Pay Payment Session](https://docs.mollie.com/reference/v2/wallets-api/request-apple-pay-payment-session) you've an parameter to provide the `profileId`. However, when executing `Mollie::api()->wallets()->requestApplePayPaymentSession()` there is no parameter to provide the data for this field.

## Possible Solution
Add an optional t

[2021-06-22 10:48] sandervanhooft commented on #173
Thanks for reporting this @dees040, you're right.

I'll release a patch. Note that this is a patch on `mollie/mollie-api-php`, not on `laravel-mollie`.

[2021-06-22 10:48] #173 closed

[2021-06-22 10:48] sandervanhooft commented on #173
Released! https://github.com/mollie/mollie-api-php/releases/tag/v2.35.0

[2021-06-22 12:30] dees040 commented on #173
Thanks for the quick fix @sandervanhooft

[2021-08-22 20:13] dataxlamsterdam opened #176 "Problem by install with composer"
Hi Sander,

If I install the package with composer version above 2.0 as specified in your manual there will be a error:

Problem 1
    - Root composer.json requires mollie/laravel-mollie 2.0 -> satisfiable by mollie/laravel-mollie[v2.0.0].
    - mollie/laravel-mollie v2.0.0 requires illuminate/support ^5.5 -> found illuminate/support[v5.5.0, ..., 5.8.x-dev] but these were not loaded, likely becaus

[2021-08-23 08:25] sandervanhooft commented on #176
[code]

Works fine. Did you perhaps forget the `^`?

[2021-08-23 08:25] #176 closed

[2021-08-24 21:19] sanderdewijs opened #177 "Webhook url replaced with https://paymentlink.mollie.com"
I created a paymentlink via the Mollie client. I provided a webhookUrl to my application, but instead a link to https://paymentlink.mollie.com/ is added in the created payment link. One note, I do not provide a custom redirectUrl. So the customer is redirected to the default Mollie payment success screen.

## Expected Behavior

The created payment should have the provided webhook that was in the P

[2021-08-25 08:28] sandervanhooft commented on #177
Hi @sanderdewijs 👋

Thanks for reporting this. I am seeing the same here. Let me check with Mollie support and get back to you.

[2021-08-25 08:28] sanderdewijs commented on #177
I did an additional test, to see if the missing redirectUrl was the reason for the webhookUrl defaulting to paymentlink.mollie.com. I added a redirect URL to the payment link creation request. The redirect Url did end up in the created PaymentLink, but it still had the default https://paymentlink.mollie.com.

[code]

[2021-08-25 08:31] sandervanhooft commented on #177
What value does it show in your Mollie Dashboard?

[2021-08-25 08:58] sanderdewijs commented on #177
In my Mollie Dashboard, the payment links are both expired. And the redirectUrl in both payment links have the URL https://paymentlink.mollie.com

[2021-08-25 09:03] sandervanhooft commented on #177
Thanks for reporting. Mollie has confirmed it as a bug. I'll let you know when there's news.

[2021-08-25 09:24] sanderdewijs commented on #177
Thanks Sander!

[2021-08-28 09:37] Thedonsolo opened #178 "Change href from "Previous website" link"
## Expected Behavior

When the user wants to cancel the payment by clicking "Previous website" link, he should be going to a specific page.
## Current Behavior

At the moment I don't see any possibility to manipulate the "Previous website" link.
## Possible Solution

Pass the url to the Mollie::api()->payments->create method.

## Context

For each payment the page the user arrives on after cancell

[2021-08-28 09:41] Thedonsolo opened #179 "What's the default timeout for a payment to get auto cancelled?"
## Context

I would like to know when a payment is automatically cancelled after the user has navigated to the Mollie payment page.
Also, whereto is he redirected then?

[2021-08-28 09:59] sandervanhooft commented on #179
All redirects (success, paid, canceled) will be to the redirectUrl provided when creating the payment.

More information, including specific expiration times, here:

https://docs.mollie.com/payments/status-changes

[2021-08-28 09:59] #179 closed

[2021-08-28 11:31] sandervanhooft commented on #178
Hi @Thedonsolo,

For all scenarios that Mollie redirects the user back to your site, it will use the provided `redirectUrl`.

With Laravel implementations I typically use a `RedirectFromMollieController` and route for this `redirectUrl`.

In this controller you can check the payment status before redirecting internally / showing the right view.

[2021-08-28 11:31] #178 closed

[2021-11-02 12:01] sandervanhooft commented on #177
@sanderdewijs is this issue still occurring?

[2021-11-02 16:14] sanderdewijs commented on #177
Yes, the last payment link I created still had the https://paymentlink.mollie.com/pay/ Webhook URL and Redirect Url

[2021-11-03 14:51] sandervanhooft commented on #177
Thanks @sanderdewijs, I will remind Mollie on the issue.

[2021-12-05 18:22] sanderdewijs commented on #177
Any news on this Sander? Last time I checked the webhook URL was still paymentlink.mollie.com/

[2021-12-06 10:21] sandervanhooft commented on #177
I'll check. Is your own webhook URL being called?

[2021-12-20 17:53] XavegX367 opened #181 "Failed calling webhook statuscode 500 (Internal Server Error)"
Mollie suddenly is not able to call the webhook

The webhook was fully functional. but suddenly it doesn't do anything and I am not getting a single output in my logs. I include metadata with my orders, but there is nothing wrong with that. It is the exact same as when it worked

Hopefully anyone can help?

[2021-12-20 21:51] sandervanhooft commented on #181
This means something is going wrong within your Laravel application.

What happens if you make a similar post request to the webhook, but manually? I.e. with Postman or curl?

[2021-12-21 10:33] XavegX367 commented on #181
I don't know if I used the program correct, but it is showing this error:

Mollie\Api\Exceptions\ApiException: [2021-12-21T10:29:41+0000] Invalid payment ID: ''. A payment ID should start with 'tr_'. in file /home/public/sites/www.*******.nl/webdata/vendor/mollie/mollie-api-php/src/Endpoints/PaymentEndpoint.php on line 88

[2021-12-21 10:38] Jubeki commented on #181
Can you please share your Controller where you receive the webhook?

And also what ID did you include in you test request?
Your get request should be a POST request containing an Payment ID starting with `tr_` (Best would be a test payment)

[2021-12-21 10:45] XavegX367 commented on #181
So I am not using the program correct since I have used a test id: 'tr_ghw2JGxrcf'

[2021-12-21 10:48] XavegX367 commented on #181
Okay, so I only dropped the payment ID into the post and now I am getting the same list as I do when I click on the test order on the mollie website. Unfortunately I am still getting a 500 internal server error

[2021-12-21 10:49] Jubeki commented on #181
Please share your Webhook Controller where you receive the Webhook from Mollie. Otherwise just the information that you receive a 500 error is not enough.

[2021-12-21 10:51] XavegX367 commented on #181
So this is my handle function

public function handle(Request $request) {
        $paymentId = $request->input('id');
        $payment = Mollie::api()->payments->get($paymentId);
        if ($payment->isPaid())
        {
            $completedOrder = new orders;
            $completedOrder->MollieID = $paymentId;
            $completedOrder->Klantnummer = $payment->metadata->customerid;

[2021-12-21 10:56] Jubeki commented on #181
Better formatted:
[code]

[2021-12-21 10:59] XavegX367 commented on #181
Wow, I don't know what things are changed. But it certainly did fix the error! Could you tell me what I did wrong? I am still a student and really want to learn from it. Appreciate it!

[2021-12-21 11:05] Jubeki commented on #181
I just want to say that I didn't change any code. I only formatted it.

So I don't know from where the issue comes.

But here some general advice:
Read this of the mollie docs: https://docs.mollie.com/payments/accepting-payments

1. When the customer goes to the checkout you already create a order and associate it with the payment ID which you get from mollie.
2. The Customer completes the checkou

[2021-12-21 11:10] Jubeki commented on #181
If you don't want to handle all the payment stuff yourself it would also maybe worth it to work with Laravel Cashier Mollie.
https://www.cashiermollie.com/04-charges.html

This is usefull if you expect multiple payments from the same customer.

If you only want single charges like you currently do I recommend using the current package.

[2021-12-21 11:12] XavegX367 commented on #181
Thank you very much, I will look into it!

[2021-12-21 11:12] #181 closed

[2022-01-31 17:23] FredNic74 opened #184 "Mollie Webhook failed with code 500 (Internal Server Error) Latavel Project"
My Laravel project does not fit in Mollie webhookUrl. I have a 500 Internal Server Error.

My web.php route
`Route::name('webhooks.mollie')->post('webhooks/mollie', 'MollieWebhookController@handle');`

MollieController
`$payment = Mollie::api()->payments()->create([
            'amount' => [
                'currency' => 'EUR', // Type of currency you want to send
                'value' => $price

[2022-01-31 17:34] Jubeki commented on #184
Better formatted:

### MollieController
[code]

### MollieWebhookController
[code]

### VerifyCsrfToken
[code]

[2022-01-31 17:42] Jubeki commented on #184
Advices for you:
1. Please provide Code in a readable format
2. Please send an error from your logs

Now to your problems:

1. MollieWebhookController:
[code]

Also in the MollieWebhookController you don't have access to the request which is send from the user. You only have Access to the payment id which is sent from Mollie itself. Therefor you must save the data from the Request in MollieControl

[2022-01-31 19:56] sandervanhooft commented on #184
Hi @FredNic74 ,

Thanks for reaching out. I think @Jubeki is pointing in the right direction.

Closing this for now, let me know if it should be reopened.

[2022-01-31 19:56] #184 closed

[2022-01-31 21:25] FredNic74 commented on #184
Here is my corrected code, but I still have an error
Webhook failed with code 500 (Internal Server Error).

My class MollieController.php
[code]

and my class MollieWebhookController
[code]
My logs are empty for the moment.
The route is working correctly, it appears when I do a php artisan route:list.

[2022-01-31 21:52] Jubeki commented on #184
`dd($payment)` doesn't write to the log. It is only for outputting debug information to the browser.
If you want to log something use:
[code]

You can also test your code local: Use [ngrok](https://ngrok.com) or [Expose](https://expose.dev) for tunnelling your application and send your public url as web hook url to mollie. Then your local application will handle the web hook.

[2022-02-10 17:17] JanMisker opened #185 "Is it possible to revoke a Mollie Connect token?"
I searched the code, but I don't think it's possible to revoke a Mollie Connect refresh token with this package, correct?

We'd probably have to use [oauth2-mollie-php](https://github.com/mollie/oauth2-mollie-php/blob/7ba2a97a29ba73fc3f1531a66d9d1539f0c1dc16/src/Provider/Mollie.php#L183) instead of the Socialite driver provided in this package, but maybe I missed something?

[2022-02-13 15:19] sanderdewijs commented on #177
Hi Sander, I missed your remark sorry. No my webhook is not being called. Hope that Mollie will fix this issue soon. The webhook callbacks are pretty essential :)

[2022-02-13 18:29] sanderdewijs commented on #177
To be absolutely sure, let me set some logging on the webhook URL in my application.

[2022-02-13 23:43] sandervanhooft commented on #177
Thanks! Let me know how that goes!

[2022-02-15 03:10] jasperf commented on #96
Just had a similar error as well:

[code]

 Then I checked payment methods following https://help.mollie.com/hc/en-us/articles/115000648269-How-do-I-activate-payment-methods-in-my-account- and saw all methods were set to evulating. Just thought to leave this here for others with a similar issues.

[2022-02-16 16:20] sandervanhooft commented on #177
Thanks for following up! I suspect the displayed webhook is an internal one to Mollie. I'll close this issue for now, but will ensure Mollie keeps track of this bug.

[2022-02-21 13:59] MrMooky opened #187 "How to apply discounts?"
Let's say I have a field where users can enter a coupon code. I'd somehow need to check the validity and amount (amount or percent) etc and pass it to Mollie. The "pass it to Mollie" part is where I struggle right now.

How can I do it with this package?

[2022-02-21 14:42] #187 closed

[2022-02-23 12:35] iH8 opened #188 "Composer require conflicts"
## Specifications

  - API Version: 2
  - Laravel Framework Version 8.78.1

## Describe the issue

I'm running: `composer require mollie/mollie-api-php:^2.0` and getting the following error: ` mollie/laravel-mollie v2.0.0 requires illuminate/support ^5.5 -> found illuminate/support[v5.5.0, ..., 5.8.x-dev] but it conflicts with another require.` I've upgraded Laravel which works, i am now running 8

[2022-03-01 12:54] sandervanhooft commented on #188
@iH8 I've transferred the issue to the laravel mollie repo.

I just ran your `composer.json` file and it install fine now. Perhaps one of the dependencies has been upgraded. Can you check if it works for you now?

If not ...

The warnings you are seeing are throwing me off a bit, as if the version constraint is not parsed correctly.

Therefore, instead of installing it through the commandline, add

[2022-03-01 13:50] iH8 commented on #188
I don't know why i filled this under the wrong repository, sorry, thanks for transferring it. I've tried the composer install again, still a no go, with the same error. However manually adding it to composer.json and then update does work for me. I didn't even think to try that, i assumed it would result in the same error. My bad, thanks for the tip.

[2022-03-01 14:22] sandervanhooft commented on #188
I suspect it may be because of syntax differences between Windows/Linux/Mac commandlines.

Anyway, glad it worked out! Enjoy!

[2022-03-01 14:22] #188 closed

[2022-03-11 20:48] daan3011 opened #189 "How to access a payments metadata in the webhook"
I'm trying to access an orders metadata in the webhook so I can associate the payment with the right order in the database, I had hoped to find it by looking at the code of the api wrapper but no luck so far. The most logical way seemed $payment->metadata but that doesn't work. Any help would be appreciated. I'm using Laravel 8 and the latest version of Laravel Mollie

[2022-04-07 07:48] Rikj000 commented on #116
I ended up using following simple workaround at the beginning of my `preparePayment()` and `handleWebhookNotification()` methods:
[code]

Which allows me to load an API Key which doesn't need to be configured in the `.env`,
I'm quite sure that it also could be used in a similar fashion to utilize multiple API keys 🙂

[2022-04-07 07:53] sandervanhooft commented on #116
Also consider using the core php sdk (mollie/mollie-api-php) directly. No need to use this Laravel package, which essentially wraps the core php client and wires up the authentication.

[2022-04-18 14:49] turpoint commented on #189
It should be `$payment->metadata`. For example:
[code]

[2022-04-18 15:24] sandervanhooft commented on #189
@turpoint is correct. If it's not there it wasn't stored properly during creation/update.

[2022-04-18 15:24] #189 closed

[2022-04-19 12:34] Fahadi30 opened #190 "[2022-04-19T12:31:50+0000] Error executing API call (422: Unprocessable Entity): Your account is currently suspended. Documentation: https://docs.mollie.com/overview/handling-errors"
showing this error .

[2022-04-19 12:40] Jubeki commented on #190
Please contact the mollie support for more information or take a look at your mollie dashboard. Like the error says: It seems your account is currently suspended and you need to take some kind of action to activate the account again.

[2022-04-20 06:30] #190 closed

[2022-05-09 13:50] ArondeParon opened #191 "Possibility to get mobileAppCheckout URL?"
## Expected Behavior
As per the documentation, it should be possible to retrieve a `mobileAppCheckout` URL for some payment providers, but I don't see this reflected in the SDK.

## Current Behavior
There is a `getCheckoutUrl()` that returns the checkout URL for the response.

I would expect `getMobileCheckoutUrl()` as well, but it seems to be missing.

## Considerations

I am not entirely sure wh

[2022-05-09 14:24] sandervanhooft commented on #191
Good catch @ArondeParon !

Working on a patch here: https://github.com/mollie/mollie-api-php/pull/621

[2022-05-09 14:30] #191 closed

[2022-05-18 08:17] FlxJaron opened #192 "f"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or mobile):
* Link to your project:

[2022-05-18 08:17] #192 closed

[2022-05-18 08:17] FlxJaron commented on #192
please delete

[2022-06-22 14:45] divdax opened #194 "422: Unprocessable Entity: No suitable payment methods found"
I'm testing the mollie api. Payment methods like PayPal is activated but has to be reviewed. The review is not possible because the project is not online yet... How i can test the payment?

[2022-06-22 17:13] sandervanhooft commented on #194
Hi @divdax,

Any payment method that is activated by you can be tested using a test key. Even if they're still under review.

Local testing of the webhook functionality is possible if you use a (free) tunneling service.

Options for Laravel/PHP include:

- `valet share`
- Expose by Beyond Code
- ngrok

https://docs.mollie.com/overview/testing

[2022-06-22 17:14] #194 closed

[2022-06-22 19:19] divdax commented on #194
@sandervanhooft i use a tunneling service so mollie can reach my webhook endpoint.
Using the test api key and activated PayPal as payment method. (under review)

API response:
[code]

[2022-06-23 00:56] divdax commented on #194
@sandervanhooft
1. Yes i'm using the correct test key from my account.
2. 4 Payment Methods are activated but under review.

[2022-06-23 12:20] sandervanhooft commented on #194
Hi @divdax ,

I was unable to reproduce your issue with the snippet below - everything is working fine here.

[code]

If this doesn't work for you, could you please reach out to Mollie support?

[2022-06-23 14:06] divdax commented on #194
@sandervanhooft  Now i get this response:
[code]

mollie support said i have no website online to activate payment methods etc. but i just want to test the api without going live with that. I don't have any website online yet, because we are testing... bad support, no reactivation event not for testing... WOW! 👏

[2022-06-23 14:25] sandervanhooft commented on #194
I am sorry to hear that. Mollie indeed does require a website url - but for testing any will do.

This seems to be very account specific, so I am afraid I cannot be of further assistance on this matter.

[2022-06-23 15:01] Timollie commented on #194
@divdax
I am sorry to hear you are experiencing issues whilst trying to create test payments. As @sandervanhooft said, requesting a payment method should almost always allow you to do test payments whilst the methods are still being reviewed.

We have on our backlog to implement development specific organisations on which only test payments can be done so that the normal onboarding procedures woul

[2022-06-23 16:38] divdax commented on #194
@Timollie
Thank you. Maybe you can check my account #3559744 and revoke the suspend status which causes the problem?

[2022-06-27 08:15] Timollie commented on #194
@divdax,
Thank you. I had a quick look. Indeed your website profile has been suspended by my colleagues over at onboarding. This was done since the website doesn't exist yet. I would advise creating a new website profile, there are no costs to this, and calling it something like "Testing" or "Staging". If you do not process live payments through this my colleagues should not block the payment meth

[2022-06-27 08:18] Timollie commented on #194
My colleagues also unblocked your existing profile.

[2022-06-28 19:47] divdax commented on #194
@Timollie thank you! The test api key is working now.

[2022-08-24 18:14] ShafiKh opened #197 "Generate QR code for the payment"
As per the documentation, calling the following API will return a `qrCode` object in the `details` object

`POST https://api.mollie.com/v2/payments?include=details.qrCode`.

How can I achieve that?

[2022-08-24 18:37] sandervanhooft commented on #197
Hi @ShafiKh ,

In that same code you'll find php examples that can be used with this package. What have you tried so far?

[2022-08-24 18:41] ShafiKh commented on #197
@sandervanhooft I haven't tried because i can't attach `?include=details.qrCode` to the API call, how can i attach `?include=details.qrCode` to the API call? sorry i am understanding it wrong

[2022-08-24 18:56] ShafiKh commented on #197
I just tried it, here is the payload :

[code]

It is returning this :

`{"error":{"message":"[2022-08-24T18:52:04+0000] Error executing API call (422: Unprocessable Entity): Non-existent body parameter \"0.include\" for this API call. Did you mean: \"locale\"?. Field: 0.include. Documentation: https:\/\/docs.mollie.com\/overview\/handling-errors"}}`

[2022-08-24 18:59] ShafiKh commented on #197
Made it working, had to move this :

[
    "include" => "details.qrCode",
]

outside of the first array.

Thanks, good work

[2022-08-24 19:00] sandervanhooft commented on #197
Try

[code]

[2022-08-24 19:00] ShafiKh commented on #197
Yep, that's better, thanks

[2022-08-24 19:01] #197 closed

[2022-08-25 13:32] Afzaal565 commented on #176
I have also facing same issue while I am writing composer require mollie/laravel-mollie:^2.0

[2022-08-27 09:57] sannegrafistore commented on #96
I have the same issue.
Live key returns this error. Test key works fine.
5 payments methods are active.

Also switched live key with another website profiel (woocommerce) that works. Still the same error occurs with laravel mollie.

What am I missing here?

[2022-08-29 09:00] christoph-werker opened #198 "Get all Payments by metadata?"
Dear Team,

i'm struggle to get all Payments by a specific meta_data. I set the User in the Metadata and want to get all previous payments from the User.

I can fetch all the payments without any filter by `Mollie::api()->payments()->page();` but don't found a solution to add a filter.

Thanks

[2022-08-29 09:14] sandervanhooft commented on #198
Hi,

Can you share a full code sample so we get a good understanding of your issue?

[2022-08-30 15:40] christoph-werker commented on #198
Hi sander,

There is not much code jet. For example, i create several payments with mollie and all the payments have custom metadata. For example a id from the customer.

Creating the Payments:
[code]

And after a while, i want to get all the payments with the metadata `customer  = 123456`.

What i've found is, that i can get previous payments by `Mollie::api()->payments()->page();`
But i dont fou

[2022-08-30 16:00] sandervanhooft commented on #198
Hi @christoph-werker ,

Mollie does not offer something like a query filter if that's what you are looking for.

The next best thing would be to iterate over the pages (there are `next()` and `hasNext()` helper methods) and build the resulting array yourself.

Hope that helps.

[2022-08-30 16:00] #198 closed

[2022-09-27 10:38] Skullbock opened #201 "Laravel HTTP client"
I've written for my project a ` MollieLaravelHttpClientAdapter` that implements `MollieHttpAdapterInterface` and was wondering if it would make sense to PR it here, and have the ServiceProvider use this new client adapter to make the API calls.

It's useful to me because i can then make use of the `Http::fake` functionality that Laravel provides to fake outgoing calls to Mollie in my tests.

Along

[2022-09-27 10:52] sandervanhooft commented on #201
Sounds cool, happy to review it!

[2022-09-27 22:21] luckie12 opened #203 "Get payment info from the redirectURL"
So, im able to do a test payment etc on localhost, i installed ngrok so i can test the webhook on my localhost aswell.

After making a payment im being redirected to the redirectURL, but the Request is empty, theres nothing in the input bags (eg $request->input('id'); ) does not work/exist.

Since i added the webhook to the mollie payment, im not sure where i can view that data, because i put a (d

[2022-09-29 08:16] #203 closed

[2022-10-12 13:44] tomcoonen opened #204 "symfony/finder dependency locked to 6.0"
Is it intentional that the `symfony/finder` version is locked to 6.0 instead of ^6.0 in v2.19.2?
This blocks using `symfony/finder` 6.1 in a project.

[2022-10-13 07:35] sandervanhooft commented on #204
Hi @tomcoonen ,

Good catch. Yes, there recently was an issue with Symfony's Finder, therefore the dependency constraint was patched in. We'll investigate the current situation to see if we can expand or remove the current constraint.

Cc @ciungulete

[2022-10-13 09:15] ciungulete commented on #204
We lock it currently for 6.0 because `symfony/finder` requires  `"php": ">=8.1"`

[2022-10-13 09:34] tomcoonen commented on #204
@ciungulete Then you can still use '^6.0' in this package since composer won't install 6.1 when you don't have PHP 8.1.

[2022-10-13 09:37] sandervanhooft commented on #204
Looks like it's used by `php-cs-fixer` and `testbench`, so we can also try moving it to the list of dev dependencies.

[2022-10-14 13:56] ciungulete commented on #204
Is fixed now

[2022-10-14 14:08] tomcoonen commented on #204
Great, thanks guys!

[2022-10-14 15:11] #204 closed

[2022-11-04 09:20] matthieugluszkowski opened #210 "API KEY only in env ?"
Hello,
I am sorry but it's not an issue. It's a question.
I am doing Mollie integration through this package but I have a use case that is blocking me.
I don't have only one API KEY, I have a network of 400 shops which each have their API KEY. This is why at the time of payment I retrieve the API KEY of the store in question by an other secure webservice before proceeding to payment.
How can I use

[2022-11-04 09:56] sandervanhooft commented on #210
Hi @matthieugluszkowski,

It is highly recommended to use Mollie Connect for this (OAuth).

If you really want to stick to using the keys, it's probably easier to use mollie/mollie-api-php directly instead of this wrapper package.

[2022-11-04 09:56] #210 closed

[2022-11-10 09:44] Dynalogical opened #211 "Webhook failed with status code 500 (Internal Server Error)"
Ik heb deze package toegevoegd aan mijn Laravel applicatie en werkt op zich naar behoren. Het probleem speelt echter op zodra de webhook van mollie contact probeert te krijgen met mijn test server. Ik krijg de melding: Webhook failed with status code 500 (Internal Server Error). Het gekke is dat het in mijn andere applicaties wel gewoon naar behoren werken met dezelfde code.

Composer.json
`"molli

[2022-11-10 14:43] striderxfossility commented on #176
Me to, probably because i use laravel 9.0, illuminate/support is inside the laravel/framework package and so i cant be used.

[2022-11-13 22:14] #211 closed